include /blocks/forum-search/forum-search
mixin forumTop
  .forum-top(class != attributes.class id != attributes.id).hidden-s.hidden-xs
    +forumSearch.forum-top__search
    .forum-top__nav
      span.forum-top__nav-header Добро пожаловать
      a(href != staticLinks.forumNewMessages).forum-top__nav-link Новые сообщения 
      a(href != staticLinks.forumRecent).forum-top__nav-link Активные темы 
      a(href != staticLinks.forumUnanswered).forum-top__nav-link Темы без ответов
