mixin listArticles(list)
  -
    const listClass = attributes.class
  .list-articles(class != listClass)
    each item in list
      - let descWidth = {xs:12}
      .list-articles__item(class=`${listClass ? listClass+'__item' : ''}`)
        +grid({paddingy: true, justify: 'center'})
          if item.image
            +grid__item({s:2,xs:6}): a(href != item.link): img.list-articles__image(class=`${listClass ? listClass+'__image' : ''}` src != item.image alt != item.name title != item.name)
            - descWidth = {s:10,xs:12}
          +grid__item(descWidth)
            .list-articles__title(class=`${listClass ? listClass+'__title' : ''}`): a(href != item.link) !{item.name}
            if item.subtitle
                p.list-articles__subtitle: strong !{item.subtitle}
            if item.features
              +properties(item.features).list-articles__properties(class=`${listClass ? listClass+'__properties' : ''}`)
            if item.description && item.more
              .list-articles__description(class=`${listClass ? listClass+'__description' : ''}`) !{item.description} 
                span.list-articles__read-more(class=`${listClass ? listClass+'__read-more' : ''}`): a(href != item.link) подробнее
            else if item.description && !item.more
              .list-articles__description(class=`${listClass ? listClass+'__description' : ''}`) !{item.description}
            else if !item.description && item.more
              .list-articles__read-more(class=`${listClass ? listClass+'__read-more' : ''}`): a(href != item.link).link-arrow подробнее
            if item.gallery
              .list-articles__gallery
                if item.gallery.name
                  .list-articles__gallery-name: strong !{item.gallery.name}
                -
                  const gallery = {}
                  gallery.list = item.gallery.list
                  gallery.settings = item.gallery.settings ? item.gallery.settings : {}
                  gallery.settings.size = 'small'
                +gallery(gallery)
                if item.gallery.more
                  .list-articles__gallery-more: a(href='news-item.html') все фотографии (!{item.gallery.more}) 
            if item.tags
              +listTagsSmall(item.tags).list-articles__tags
            if item.date || item.author
              .list-articles__item-footer
                if item.date
                  .list-articles__item-date !{item.date}
                if item.author
                  .list-articles__item-author: a(href != item.author.link) !{item.author.name}
