.header-navigation
  @media screen and (min-width (point-m))
    &__list
      display flex
      flex-wrap wrap
    &__list-item
      position relative
      display flex
      transition background-color .2s
      & > a
        display block
        padding (basePadding/3*4) basePadding
        font-weight 500
        line-height font-m
        text-decoration none
        color #ffffff
        transition color .2s
      &:hover
        background-color #e5cda2
        transition none
        & > a  
          color var(--color-link-hover)
          transition none
      &--active
        & > a
          color var(--color-link)
          background-color #e5cda2
    &__sublist
      position absolute
      top 3rem
      z-index 10
      padding basePadding
      background-color #e5cda2
      border-radius 0 0 (basePadding/3*2) (basePadding/3*2)
      transform scaleY(0)
      transform-origin 0 0 0
      transition transform .2s
      
      ^[-1]__list-item:hover > &
        transform scaleY(1)
        transition none
      &--right
        right 0
    &__sublist-item
      @extend .header-navigation__list-item
      border-bottom 1px solid #d1bba2
      & > a
        flex-grow 1
        padding-y (basePadding/3*2)
        white-space nowrap
        color var(--color-link)
        transition color .2s
      &:hover
        background-color transparent
        & > a
          background-color transparent
          transition none
      &:last-child
        border-bottom none
