.pagination
  parMargin()
  display flex
  align-items baseline
  &__list
    display flex
  &__item
    border-left 1px solid #cccccc
    display inline-block
    padding .675rem
    &[title='первая']
    &[title='предыдущая']
    &[title='следующая']
    &[title='последняя']
    &:first-child
    &--prev + & // @stylint ignore
      border-left none
    &--active
      font-weight bold
