mixin forumSearch
  .forum-search(class != attributes.class id != attributes.id)
    .forum-search__item.forum-search__item--name Поиск по форуму:
    .forum-search__item.forum-search__item--input
      +formSearchSmall().forum-search__form
    .forum-search__item.forum-search__item--advanced: a(href != staticLinks.forumSearch) Расширенный поиск
