include /blocks/form-registration/form-registration

mixin forumReply(settings = {})
  -
    const forumReplyClass = [
      settings.type ? `forum-reply--${settings.type}` : '',
      attributes.class ? attributes.class : '',
    ]
  .forum-reply(class != forumReplyClass)
    if settings.name
      .forum-reply__header
        .forum-reply__name !{settings.name}
    .forum-reply__service
      .forum-reply__service-name !{settings.serviceName}
      .forum-reply__service-links
        span Вы можете использовать:
        a(href != staticLinks.forumHelpBbcode).forum-reply__service-link BBCode
        a(href != staticLinks.forumHelpImg).forum-reply__service-link Изображения
        a(href != staticLinks.forumHelpSmilies).forum-reply__service-link Смайлики
    -
      const forumReply = {
        fields: [
          {
            type: 'file',
            name: 'pickfiles',
            id: 'pickfiles',
            label: {tag: 'strong', content: 'Изображения:'},
            clarification: 'Загрузите изображения на сервер. После загрузки бб-код будет вставлен в сообщение автоматически. Максимальный размер загружаемого файла должен быть не более чем 10 Мб.',
          },
          {
            type: 'textarea',
            name: 'req_message',
            id: 'fld2',
            label: {tag: 'strong', content: 'Напишите сообщение:'},
          },
          {
            type: 'checks',
            label: {tag: 'strong', content: 'Настройки сообщения:'},
            checks: [
              {id: 'fld3', type: 'checkbox', name: 'hide_smilies', checked: true, label: 'Не показывать графические смайлики для этого сообщения', value: 1},
              {id: 'fld4', type: 'checkbox', name: 'subscribe', label: 'Подписаться и следить за ответами в этой теме', value: 1},
            ]
          },
          {
            type: 'fileDelete',
            name: 'attach_file',
            id: 'fld5',
            label: {tag: 'strong', content: 'Прикрепленный файл #1'},
            warning: 'Пожалуйста, НЕ добавляйте здесь фотографии. Это только для добавления файлов других форматов.'
          },
          {
            type: 'file',
            name: 'attach_file',
            id: 'fld5',
            label: {tag: 'strong', content: 'Прикрепленный файл:'},
            warning: 'Пожалуйста, НЕ добавляйте здесь фотографии. Это только для добавления файлов других форматов.'
          },
        ],
        
      }
      forumReply.submit = settings.type == 'fast' ? [{button: 'Добавить'}, {button:'Посмотреть'}] : [{button: 'Отправить ответ'}, {button:'Предпросмотр ответа'}]
    if settings.type == 'fast'
      -
        forumReply.fields = [forumReply.fields[0], forumReply.fields[1]]
    .forum-reply__body
      if settings.type !== 'fast'
        p: strong: a(href='#' data-mrc-sh-title='forum-reply-rules') Пожалуйста, ознакомьтесь с правилами форума перед публикацией!
        p(data-mrc-sh-body='forum-reply-rules'): strong Правила создания тем и сообщений:
        ul(data-mrc-sh-body='forum-reply-rules').list-marked.list-marked--w-prev-par
          li Создавайте темы и сообщения в разделах форума соответствующей тематики. Если Вы случайно ошиблись разделом форума, попросите администрацию перенести тему или сообщение;
          li При создании новой темы давайте ей осмысленное название. Оно должно отражать суть вопроса или сообщения. Названия, подобные "Помогите!", "У нас все есть!", "Продажа оборудования", утомляют и раздражают посетителей. Не следует писать тему и сообщение ЗАГЛАВНЫМИ БУКВАМИ.
        p(data-mrc-sh-body='forum-reply-rules'): strong На форуме запрещается:
        ul(data-mrc-sh-body='forum-reply-rules').list-marked.list-marked--w-prev-par
          li Размещение провокационной или ложной информации;
          li Нецензурные выражения и оскорбления.
          li Публиковать сообщения являющиеся прямой рекламой товаров или услуг, не содержащие ничего кроме рекламы.
          li Создание одинаковых тем в разных форумах.
        +blockMarked: p: strong Важно: это профессиональный форум, вопросы от клиентов салона будут удаляться! Если Вы клиент салона, то можете задать вопрос на 
          a(href='http://www.cons.hairlife.ru/') сайте консультаций
          | .
      +formRegistration(forumReply).forum-reply__form
