.forum-reply
  border 1px solid #ccc
  &__header
    @extend .forum-block__header
  &__name
    @extend .forum-block__name
  &__service
    display flex
    flex-wrap wrap
    justify-content space-between
    padding (basePadding/2) basePadding
    line-height line-m
    background-color #f4f4f4
    border-bottom 1px solid #e6e6e6
  &__service-name
    margin-x basePadding
  &__service-links
    display flex
    flex-wrap wrap
    & > span
      margin-x basePadding
  &__service-link
    margin-x basePadding
  &__body
    padding (basePadding*2)
    background-color #fbfbfb
  &__form
    padding (basePadding*2) basePadding basePadding
    .form-registration
      &__field
        &:not(&--submit)
          border-top none
  &--fast
    & ^[-1]__service
      padding (basePadding/3*4) basePadding
  .main-subhead
    padding (basePadding*2)
    padding-bottom 0
  .posthead
    padding-x (basePadding*2)
    padding-top .5rem
  .postbody
    padding (basePadding*2)
