mixin forumStats
  +grid({paddingy: true}).forum-stats
    +grid__item({m:8, xs:12}).forum-stats__users
      | Всего зарегистрированных пользователей: 
      strong 57 977
    +grid__item({m:4, xs:12}).forum-stats__messages
      | Всего тем: 
      strong 8 519
      br
      | Всего сообщений: 
      strong 114 446
