.forum-stats
  padding 0 basePadding
  font-size font-s
  line-height line-s
  background-color #fbfbfb
  border 1px solid #ccc
  border-bottom none
  .grid&
    margin-x 0
  &__messages
    @media screen and (min-width point-s)
      text-align right
