.forum-tags
  padding basePadding (basePadding*2)
  border-right #ccc 1px solid
  border-left #ccc 1px solid
  .list-tags-small&__list
    a
      color var(--color-link)
      &:hover
        color var(--color-link-hover)
