mixin properties(properties)
  .properties(class != attributes.class)
    each property in properties
      .properties__item
        if property.name
          .properties__item-name
            +createElement(property.name)
            if property.name.tag != 'img'
              | :
        else
          .properties__item-name 
        .properties__item-value
          if typeof property.value == 'object'
            +createElement(property.value)
          else
            if property.link
              a(href != property.link) !{property.value}
            else
              | !{property.value}
            if property.popup
                span.properties__popup-name !{property.popup.name}
                .properties__popup-body !{property.popup.text}
            else if property.clarLink
              a.properties__item-clarification(href != property.clarLink title='Узнать подробнее') ?
