.header-top
  .header-top__item.header-top__item--logo
    include ../../logo/logo
  .header-top__item.header-top__item--service.hidden-s.hidden-xs
    .header-top__service
      include ../header-service-menu/header-service-menu
      .header-top__banner.banner-position-2: +banner({position: 2}): div(style='width: 100%; height: 100%; font-size: 1.25rem; background-color: #963316; color: #fff; display: flex; align-items: center; justify-content: center; text-align: center') Позиция 2 (468×60 px)
