mixin articleFooter(item)
  .article-footer(class != attributes.class)
    if item.author
      .article-footer__author: a(href != item.author.link) !{item.author.name}
      | | 
    if item.date
      .article-footer__date !{item.date}
      | | 
    if item.comments != undefined
      a.article-footer__comments(href='blogs-post.html#comments') !{item.comments}
      | | 
    .article-footer__rating Голосовать: 
      a(href='javascript:void(null)' onclick='vote(1833, 1);').article-footer__rate.article-footer__rate--up
      a(href='javascript:void(null)' onclick='vote(1833, -1);').article-footer__rate.article-footer__rate--down
