import('sprites/*')
import('inlcudes/placeholder')  // @stylint ignore
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@fancyapps/fancybox/src/css/core.css'
@import '../../node_modules/ilyabirman-likely/release/likely.css'

html
  font-size 14px
  font-family 'Tahoma', sans-serif
  color #333
  scroll-behavior smooth //@stylint ignore
  &.no-scroll
    overflow hidden
p
  font-size font-m
  line-height line-m 
  parMargin()
    
h1
.h1
  font-weight 500
  font-size 2.125rem
  line-height 2.75rem
  color #aa2a06
h2
.h2
  font-weight 500
  font-size 1.625rem
  line-height 2.25rem
  color #d5b689
  for item in parLike
    {item} + & // @stylint ignore
      margin-top 2.25rem
  h1 + &
  .h1 + &
    margin-top .5rem
h3
.h3
  font-weight 500
  font-size  1.25rem
  line-height 1.875rem
  for item in parLike
    {item} + & // @stylint ignore
      margin-top 1.875rem
  h2 + &
  .h2 + &
    margin-top .25rem
h4
.h4
  font-weight 500
  font-size  1.125rem
  line-height 1.6875rem
  for item in parLike
    {item} + & // @stylint ignore
      margin-top 1.6875rem
  h3 + &
  .h3 + &
    margin-top .25rem
strong
b
  font-weight bold
mark
  color #ffb400
  background-color transparent
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
a
  color var(--color-link)
  text-decoration underline
  transition color .2s
  &:hover
  &:focus
  &:active
    color var(--color-link-hover)
    transition none
  &.link-secondary
    color inherit
    &:hover
    &:focus
    &:active
      text-decoration none
  &.link-tertiary
    color #636363
    text-decoration none
    &:hover
    &:focus
    &:active
      text-decoration underline
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
  &.link-arrow
    padding-left 1.5rem
    background-image svgImport('svg/homeArticlesMore.svg')
    background-repeat no-repeat
  &.link-add
    position relative
    display inline-block
    padding-bottom .25rem
    padding-left 1.75rem
    line-height 1
    &::before
      content '+'
      position absolute
      top 0
      left 0
      display inline-block
      width 1.5rem
      font-size font-xl
      font-weight bold
      text-align center
      line-height 1.5rem
      color #fff
      background-color #d5b689
      border-radius .25rem
  &.link-rss
    padding-left 1.5rem
    background-image svgImport('svg/linkRss.svg')
    background-repeat no-repeat
  h2 &
    color inherit
.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  font-size font-m
  line-height font-m
  color #fff
  text-decoration none
  background-color #aa2a06
  border none
  transition background-color .2s
  &:hover
  &:focus
  &:active
    color #fff
    background-color #781e05
    transition none
  a&
    text-decoration none
    border-bottom none
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
main
  margin-top 2rem
.container
  display flex
  justify-content center
.content
  width 100%
  max-width containerWidth
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap
.text-align
  &--center
    text-align center
import('../blocks/**/*') // @stylint ignore
