mixin review(item)
  -
    item.itemId = item.itemId ? item.itemId : 'item'
  .review
    p !{item.intro}
      a(href='#' data-mrc-sh-title=`review-${item.itemId}`) подробнее
    +blockMarked(data-mrc-sh-body=`review-${item.itemId}`)
      +createElement(item.body)
    p: strong !{item.author}
