.list-tags
  @extend .list-categories
  parMargin()
  justify-content center
  align-items baseline
  &__item
    &--large
      font-size font-xl
      line-height line-m
    &--x-large
      font-size font-xxxl
      line-height line-m
