- let tabNames = []
- let tabsClassName = ''

mixin tabs()
  - tabsClassName = attributes.class ? attributes.class : ''
  .tabs(class != tabsClassName id != attributes.id)
    | !{block()}
    //- объявление функции block нужно для того, чтобы зацепить имена вкладок из вложенных миксинов tab()
      такое решение - единственное, которое я нашёл для передачи данных из вложенных миксинов
    .tabs__labels(class != tabsClassName ? tabsClassName + '__labels' : '')
      each item in tabNames
        .tabs__label(class != tabsClassName ? tabsClassName + '__label' : '') !{item.name}
    .tabs__contents(class != tabsClassName ? tabsClassName + '__contents' : '')
      block
    - tabsClassName = ''
    - tabNames = []
mixin tab(settings = {name:''})
  .tab(class != tabsClassName ? tabsClassName + '__tab' : '' )
    block
  -
    tabNames.push({name:settings.name})
