extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Вопросы и ответы')
  ul.list-marked
    li: a(href='#1').link-secondary Как зарегистрироваться на портале?
    li: a(href='#2').link-secondary Как зарегистрировать компанию на портале?
    li: a(href='#3').link-secondary Как отнести себя к компании, зарегистрированной на портале?
    li: a(href='#4').link-secondary Типы статусов пользователей на Hairlife.ru
    li: a(href='#5').link-secondary Что дает регистрация и что такое "Личный кабинет"?
    li: a(href='#6').link-secondary Что такое рейтинг?
    li: a(href='#7').link-secondary Как разместить пресс-релиз моей компании?
    li: a(href='#8').link-secondary Как разместить спецпредложение моей компании?
    li: a(href='#9').link-secondary Как разместить перечень услуг?
    li: a(href='#10').link-secondary Как разместить перечень продукции?
    li: a(href='#11').link-secondary Как разместить перечень брендов?
    li: a(href='#12').link-secondary Как я могу разместить рекламу своей компании на портале?
  h2#1 Как зарегистрироваться на портале?
  p Для того, чтобы зарегистрироваться и стать полноправным участником проекта Вам необходимо заполнить несложную 
    a(href != staticLinks.registration) регистрационную форму
    |  и дождаться ее проверки администратором. После регистрации Вы сможете зарегистрировать Вашу компанию (если ее еще нет в на портале) или отнести себя к Вашей компании (если она уже есть на портале).
  h2#2 Как зарегистрировать компанию на портале?
  p Зарегистрировать Вашу компанию на портале можно тремя способами (это сделано для удобства участников).
  ol.list-numbered.list-numbered--w-prev-par
    li Можно заполнить 
      a(href != staticLinks.registration) регистрационную форму участника
      | , и, потом на открывшейся странице, Вам будет предложено зарегистрировать Вашу компанию;
    li Вы можете перейти по ссылке 
      a(href != staticLinks.registration) "Зарегистрировать компанию"
      |  и на открывшейся странице заполнить форму, состоящую из двух шагов. На первом шаге Вам предложат ввести Вашу личную информацию, а на втором шаге - информацию о компании.
    li После регистрации участника, находясь в "Личном кабинете", Вы можете перейти в раздел "Моя компания" и уже там зарегистрировать Вашу компанию.
  p: strong Перед регистрацией Вашей компании нужно обязательно убедиться, что ее еще нет на портале. Для этого Вы можете воспользоваться поиском по 
    a(href != staticLinks.companies) каталогу компаний
    | .
  p: strong Если Ваша компания уже есть на портале, Вы можете отнести себя к ней. Для этого нужно, находясь в "Личном кабинете", перейти в раздел "Моя компания" и нажать на ссылку "Найти свою компанию на портале и зарегистрироваться как ее сотрудник".
  h2#3 Как отнести себя к компании, зарегистрированной на портале?
  p Отнести себя к компании, зарегистрированной на портале может, только зарегистрированный участник. Указать свое отношение к компании Вы можете двумя способами:
  ol.list-numbered.list-numbered--w-prev-par
    li После заполнения 
      a(href != staticLinks.registration) формы регистрации участника
      |  Вам будет предложена возможность отнести себя к компании. Для этого необходимо ввести название или часть названия компании в строку поиска, отметить в результатах поиска Вашу компанию и нажать кнопку "Отнести себя к компании";
    li Находясь в "Личном кабинете" зарегистрированному участнику нужно перейти в раздел "Моя компания" и там нажать на ссылку "Найти свою компанию на портале и зарегистрироваться как ее сотрудник". Здесь действия аналогичны, описанным в предыдущем пункте;
  h2#4 Типы статусов пользователей на Hairlife.ru
  p На сегодняшний день существует три типа пользователя на портале Hairlife.ru. Регистрация по любому из этих вариантов бесплатна и отличается только набором прав, сервисов и статусом, получаемых участником.

  h3 1. Участник
  p Для получения статуса "участник" необходимо заполнить регистрационную форму на странице регистрации нового участника.
  p Данный статус предоставляет следующие права и возможности:
  ul.list-marked.list-marked--w-prev-par
    li участие в обсуждении новостей, статей, оборудования;
    li размещение сообщений на форуме;
    li обмен личными сообщениями с другими участниками портала;
    li управление уведомлениями и подпиской рассылки портала Hairlife.

  h3 2. Участник-сотрудник компании
  p Для получения статуса "участник-сотрудник компании" необходимо зарегистрировать на портале, а затем отнести себя к компании, зарегистрированной на портале.
  p Данный статус предоставляет следующие права и возможности:
  ul.list-marked.list-marked--w-prev-par
    li размещение сообщений на форуме;
    li   li обмен личными сообщениями с другими участниками портала;
    li   li управление уведомлениями и подпиской рассылки портала Hairlife;
    li   li получать запросы в адрес компании от посетителей портала;
    li   li участие в бирже заказов и получение запросов на продукцию;
    li   li отображение участника в списке сотрудников компании;

  h3 3. Участник-представитель компании
  p Получения статуса "участник-представитель компании" возможно двумя способами. Первый способ - это зарегистрировать компанию на портале, при этом Вы автоматически получаете данный статус. Второй способ - это зарегистрироваться как участник, а потом отнести себя к компании. При этом будет отправлен запрос участнику, зарегистрировавшему компанию на портале, который может отнести Вас к компании, выдав права и присвоив Вам статус - "участник-представитель компании".
  p Данный статус предоставляет следующие права и возможности:
  ul.list-marked.list-marked--w-prev-par
    li размещение сообщений на форуме;
    li обмен личными сообщениями с другими участниками портала;
    li управление уведомлениями и подпиской рассылки портала Hairlife;
    li получать запросы в адрес компании от посетителей портала;
    li участие в бирже заказов и получение запросов на продукцию;
    li отображение участника в списке сотрудников компании;
    li редактирование профиля и регистрационной информации о компании;
    li размещение пресс-релизов компании;
    li размещение акций и спецпредложений компании;
    li размещение перечня продукции, брендов и услуг компании;
  h2#5 Что дает регистрация и что такое "Личный кабинет"?
  p Регистрация на портале позволит Вам стать его полноправным участником и приобщиться к крупнейшему сообществу индустрии красоты, стать ее неотъемлемой частью. Зарегистрированный участник имеет возможность:
  ul.list-marked.list-marked--w-prev-par
    li публиковать информацию о себе, загрузить фотографию, портфолио, перечень услуг;
    li обмениваться личными сообщениями с другими участниками проекта - завести новые знакомства в отраслевой среде, найти новых клиентов и партнеров;
    li стать активным участником форума - возможность размещать объявления, вступать в дискуссии, получить профессиональную консультацию;
    li и, наконец, получить доступ в "Личный кабинет" - Ваше индивидуальное рабочее пространство на портале.
  p "Личный кабинет" участника Hairlife.ru это закрытая часть портала, доступная по логину и паролю, полученными при регистрации. Для входа в Личный кабинет необходимо авторизоваться на портале и нажать ссылку "Личный кабинет" в верхней части страницы.
  p "Личный кабинет" позволит Вам:
  ul.list-marked.list-marked--w-prev-par
    li изменить свою регистрационную информацию (данные пользователя);
    li разместить или заменить свою фотографию (данные пользователя);
    li обмениваться сообщениями с другими участниками и незарегистрированными посетителями проекта (личные сообщения);
    li управлять подпиской на рассылку и уведомлениями портала;
    li управлять информацией о компании (необходимы права участника-представителя компании);
    li размещать информацию от имени Вашей компании на портале (необходимы права участника-представителя компании);
    li получать сообщения и запросы в компанию от других участников проекта и незарегистрированных посетителей.
  h2#6 Что такое рейтинг?
  p На портале существует 
    strong система рейтинга
    | , которая поощряет участников за активное сотрудничество в работе портала и публикацию интересных, актуальных и информативных материалов. Рейтинг существует как для участников, так и для компаниий. Рейтинг измеряется в баллах. За добавление материалов добавляется различное количество балов.
  p Для участников баллы рейтинга добавляются за следующие действия:
  ul.list-marked.list-marked--w-prev-par
    li размещение информации о себе (персональные данные, фотография, контакты, образование и т.д.);
    li размещение портфолио;
    li размещение резюме;
    li размещение тем и сообщений на форуме;
    li размещение материалов от имени компании (пресс-релизы, акции, статьи и т.д.);
  p Для компаний балы рейтинга добавляются за следующие действия:
  ul.list-marked.list-marked--w-prev-par
    li размещение информации о компании (контактные данные, логотип, схема проезда, прайс-лист и т.д.);
    li размещение перечня продукции, брендов, предоставляемых услуг;
    li размещение пресс-релизов;
    li размещение акций;
    li размещение информации об условиях поставок (для поставщиков);
  p
    strong Количество баллов рейтинга является ключевым фактором при позиционировании информации об участниках и компаниях на портале.
    |  Чем выше Ваш рейтинг, тем лучше информация о Вас или Вашей компании представлена на портале. В частности, в каталоге участников и компаний, первыми всегдя выводятся те, кто имеет больший рейтинг.
  h2#7 Как разместить пресс-релиз моей компании?
  p Зайдите на страницу "Личный кабинет", в раздел "Моя компания" и выберите пункт меню "Добавить пресс-релиз". Для размещения данной информации необходимо быть зарегистрированным участником и иметь права на размещение информации от имени компании, т.е. иметь статус - участник-представитель компании.
  h2#8 Как разместить спецпредложение моей компании?
  p Зайдите на страницу "Личный кабинет", в раздел "Моя компания" и выберите пункт меню "Добавить специальное предложение". Для размещения данной информации необходимо быть зарегистрированным участником и иметь права на размещение информации от имени компании, т.е. иметь статус - участник-представитель компании.
  h2#9 Как разместить перечень услуг компании?
  p Зайдите на страницу "Личный кабинет", в раздел "Моя компания" и выберите пункт меню "Разместить услуги компании". Для размещения данной информации необходимо быть зарегистрированным участником и иметь права на размещение информации от имени компании, т.е. иметь статус - участник-представитель компании.
  h2#10 Как разместить перечень продукции компании?
  p Зайдите на страницу "Личный кабинет", в раздел "Моя компания" и выберите пункт меню "Разместить перечень продукции компании". Для размещения данной информации необходимо быть зарегистрированным участником и иметь права на размещение информации от имени компании, т.е. иметь статус - участник-представитель компании.
  h2#11 Как разместить перечень брендов компании?
  p Зайдите на страницу "Личный кабинет", в раздел "Моя компания" и выберите пункт меню "Разместить перечень брендов компании". Для размещения данной информации необходимо быть зарегистрированным участником и иметь права на размещение информации от имени компании, т.е. иметь статус - участник-представитель компании.
  h2#12 Как я могу разместить рекламу своей компании на портале?
  p Подробно о размещении рекламы на Hairlife.ru Вы можете прочитать в разделе 
    a(href != staticLinks.adv) Размещение рекламы на Hairlife.ru
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
