extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration
include /blocks/message/message

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Ответить')
  +formRegistration({
    fields: [
      {type: 'simpleText', label: {tag: 'strong', content: 'Сообщение:'}, value: 'сообщение'},
      {type: 'simpleText', label: {tag: 'strong', content: 'Кому:'}, value: [{tag: 'a', attr: {href: 'peoples-item.html'}, content: 'тест тест'}, 'тест']},
      {type: 'text', label: {tag: 'strong', content: 'Тема:'}, id: 'subject_answer', name: 'subject_answer'},
      {type: 'textarea', label: {tag: 'strong', content: 'Сообщение:'}, id: 'descr_answer', name: 'descr_answer'},
    ],
    submit: {button: 'Отправить'} 
  })
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
