extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мое видео')
  +tabsNonInteractive([
    {name:'Список видео',link:staticLinks.accountVideo, active: true},
    {name:'Добавить видео',link:staticLinks.addVideo},
  ])
  p На данный момент у Вас нет видео. 
    a(href != staticLinks.addVideo) Добавить видео
  +grid({paddingy: true, parLike: true})
    +grid__item({m:2,xs:4})
      img(src='http://i1.ytimg.com/vi/bKGp2IwKuV4/default.jpg' )
    +grid__item({m:10,xs:8})
      a(href='videos-item.html') Акварель гель лаками / Весенний маникюр 2019
      |  | 
      a(href != staticLinks.accountEditVideo).link-secondary изменить
      br
      small 18.08.2019
  +grid({paddingy: true, parLike: true})
    +grid__item({m:2,xs:4})
      img(src='http://i1.ytimg.com/vi/bKGp2IwKuV4/default.jpg' )
    +grid__item({m:10,xs:8})
      a(href='videos-item.html') Акварель гель лаками / Весенний маникюр 2019
      |  | 
      a(href != staticLinks.accountEditVideo).link-secondary изменить
      br
      small 18.08.2019
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
