extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountEditProfile, active: true},
    {name:'Контакты',link:staticLinks.accountEditProfileContacts},
    {name:'Образование',link:staticLinks.accountEditProfileDegree},
    {name:'Личная фотография',link:staticLinks.accountEditProfilePersphoto},
    {name:'Данные доступа',link:staticLinks.accountEditProfileAccess},
  ])
  +grid({parLike: true, paddingy: true})
    +grid__item({m:8,s:10,xs:12})
      include /data/account-edit-profile
      +formRegistration(formAccountEdit) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
