extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Обучающие мероприятия')
  p На данный момент у Вашей компании нет мероприятий. 
    a(href != staticLinks.addSeminar) Добавить мероприятие
  ul.list-marked
    li
      a(href='blogs-post.html') NAIL-BARISTA
      br
      small Дата проведения: 30.07.2019-16.08.2019
    li
      a(href='blogs-post.html') АВТОРСКИЕ КУРСЫ АФРОПЛЕТЕНИЯ В СПБ | ACADEMY FASHION KINGS
      br
      small Дата проведения: 30.05.2019-31.05.2019
    li
      a(href='blogs-post.html') АВТОРСКИЕ КУРСЫ АФРОПЛЕТЕНИЯ В СПБ | ACADEMY FASHION KINGS
      br
      small Дата проведения: 30.05.2019-31.05.2019
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
