extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Запросы в компанию')
  -
    const companyMessages = {
      header: ['Дата', 'Отправитель', 'Тема', 'Действия'],
      rows: [
        [
          {content: {tag: 'strong', content: '22.08.2019 в 23.28'}},
          [
            {tag: 'a', attr: {href:'peoples-item.html'}, content: {tag: 'strong', content: 'тест тест'}},
            '<br>',
            {tag: 'strong', content: 'тест'},
          ],
          {content:{tag: 'a', attr: {href:'account-company-message.html'}, content: {tag: 'strong', content: 'тест'}}},
          [
            {tag: 'a', attr: {href:'account-company-answer.html'}, content: 'ответить'},
            '<br><br>',
            {tag: 'a', attr: {href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content: 'удалить'},
          ],
        ],
      ]
    }
    const companyMessagesEmpty = {
      header: ['Дата', 'Отправитель', 'Тема', 'Действия'],
      rows: [
        [
          {colspan: '4', content: 'У вас нет запросов в компанию'}
        ]
      ]
    }
  +table(companyMessages)
  +table(companyMessagesEmpty)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
