extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountCompanyEdit},
    {name:'Логотип',link:staticLinks.accountCompanyAddLogo},
    {name:'Прайс',link:staticLinks.accountCompanyAddPrice},
    {name:'Схема проезда',link:staticLinks.accountCompanyAddMap},
    {name:'Филиалы',link:staticLinks.accountCompanyFilials, active: true},
  ])
  p Если у Вашей компании существуют территориальные подразделения, объединеные общим брендом и имеющие аналогичную сферу деятельности, Вы можете добавить информацию о них на этой странице.
  p В случае, если Ваша компания представляет собой холдинг или группу компаний, имеющие в составе отдельные компании, представляющие разные сферы деятельности, каждую компанию необходимо зарегистрировать на портале отдельно. Это обеспечит наиболее эффективное представление Вашей компании на портале.
  p: a(href != staticLinks.addFilial).btn Перейти к добавлению филиала
  h2 Филиалы компании
  -
    const filials = {
      header: ['Регион', 'Адрес', 'Телефон', 'Действия'],
      rows: [
        ['Санкт-Петербург', 'тест', '111', {content:{tag: 'a', attr: {href: staticLinks.accountCompanyFilialsEdit }, content:'изменить'}}],
        ['Санкт-Петербург', 'тест', '111', {content:{tag: 'a', attr: {href: staticLinks.accountCompanyFilialsEdit }, content:'изменить'}}],
      ]
    }
  +table(filials)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
