extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  p Вы не указали компанию, сотрудником которой Вы являетесь.

  p Вы можете:
  ul.list-marked.list-marked--w-prev-par
    li: a(href='/account/company/search_company.html') Найти свою компанию на портале и зарегистрироваться как ее сотрудник
    li: a(href != staticLinks.addCompany) Зарегистрировать свою компанию
  p Уважаемые участники, перед регистрацией компании просим Вас в первую очередь убедиться, что Вашей компании еще нет в каталоге посредством формы поиска.
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
