extends /blocks/layout-account/layout-account
include /blocks/form-user-photo/form-user-photo

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountEditProfile},
    {name:'Контакты',link:staticLinks.accountEditProfileContacts},
    {name:'Образование',link:staticLinks.accountEditProfileDegree},
    {name:'Личная фотография',link:staticLinks.accountEditProfilePersphoto, active: true},
    {name:'Данные доступа',link:staticLinks.accountEditProfileAccess},
  ])
  +grid({parLike: true, paddingy: true})
    +grid__item({m:4,s:8,xs:12})
      img(src='http://www.hairlife.ru/uploaded_files/users/pers/big_709_1565290795.jpg' alt='')
  h2 Загрузка фотографии
  p Вы можете загрузить фотографию, которая будет отображаться на странице вашей анкеты. Для того чтобы добавить фотографию сначала выберите ее, нажав кнопку "Обзор", а затем нажмите кнопку "Добавить фотографию".
  +formUserPhoto
  h2 Удаление фотографии
  +formUserPhoto({type: 'delete'})
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
