extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Реклама на портале')
  p На нашем портале существуют два варианта размещения информации о Вашей компании - 
    strong бесплатное
    |  и 
    strong приоритетное размещение
    | .
  p Бесплатный вариант предполагает размещение краткой информации о компании в нашем каталоге.
  p Приоритетное размещение позволит воспользоваться всеми услугами и сервисами портала для привлечения новых клиентов. Более подробная информация об услугах и сервисах приведена в сравнительной таблице ниже.
  p На сегодняшний день в каталоге нашего портала зарегистрировано более 
    strong 2000 компаний
    | . Хотите, чтобы Ваша компания была всегда на виду и показывалась на первых строках в результатах поиска, а не затерялась среди других? Чем больше информации о компании Вы размещаете на нашем портале, тем эффективней будет Ваша реклама в сети Интернет.
  include ../data/adv-priority
  +tableAdv(tableAdvPriority)
  p
    +footnoteMark
    |  - публикуемые вами материалы – новости, акции, статьи и товары будут выделены на главной странице сайта. В разделах сайта 
    a(href != staticLinks.news) Новости
    | , 
    a(href != staticLinks.discounts) Акции
    | , 
    a(href != staticLinks.articles) Статьи
    | , ваши материалы будут размещены в отдельном блоке и выделены. В разделе 
    a(href != staticLinks.trade) Товары
    |  ваши товары будут размещены в отдельном блоке и выделены, также ваши товары будут размещены в отдельном блоке на странице списка товаров категории. 
  h2 Стоимость приоритетной публикации:
  +tableAdv(tableAdvPriorityCost)
  p Цены действительны с 01.07.2014. 
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
