extends /blocks/layout-posting/layout-posting

block head
  - header = 'Управление салоном красоты'
block content
  +trow
    +block('Как привлечь новых клиентов и увеличить прибыль салона +25%?', {hCol: '#ad2800'})
      p: strong Друзья, именно сейчас Вы находитесь на расстоянии вытянутой руки от удивительной возможности войти на рынок косметического экспресс-осветления зубов в самый рассвет его экономической активности!
      p
        strong Если Вы давно хотели начать свое дело,
        |  «White&Smile™» поможет вам воплотить свой проект в жизнь и открыть собственную студию экспресс-осветления зубов!
      p
        strong У вас уже есть своя компания?
        |  Выведите ее на новую ступень развития всего за 1 месяц, прокачав свою нишу востребованной услугой!
      p Секреты Вашего успеха с «White&Smile™»:
      ul
        li Дополнительный приток клиентов
        li Дополнительный источник прибыли
        li Окупаемость от 1 мес.
        li Наценка до 350%
        li Отсутствие паушального взноса и роялти
        li Маркетинговая и сервисная поддержка
        li Запуск от 7 дней
      p Став частью международной сети «White&Smile™» и прокачав свою нишу прогрессивным методом экспресс-осветления зубов, Вы увеличите свой доход и приятно удивите Ваших клиентов новой услугой.
      p Подробно изучить все финансовые показатели, рассчитать свой доход от франшизы, посмотреть презентацию продукта и получить ответы на все интересующие вопросы вы можете 
        +a(href='http://bit.ly/2vo0hT3' target='_blank') на нашем сайте
        | .
      p Вы готовы увеличивать свой доход, присоединившись к успешной федеральной сети «White&Smile™»? Оставляйте заявку 
        +a(href='http://bit.ly/2vo0hT3' target='_blank') на сайте
        | .
      p Мы будем рады сотрудничеству с Вами!
      p С уважением, команда«W&S»
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с индустрией красоты и салонным бизнесом. Это сообщество парикмахеров, визажистов, мастеров маникюра, руководителей и администраторов салонов.
      p Возможность найти одномышленников, ознакомиться с последними новостями индустрии, найти нужного поставщика, найти информацию по интересующим темам - вот далеко не полный перечень причин, по которым профессионалы ежедневно посещают наш портал.
      p Мы постарались собрать наиболее полную информацию об индустрии:
      ul
        li(style='margin-bottom: 8px'): +a(href='/blog/4/') Статьи по управлению салоном красоты
        li(style='margin-bottom: 8px'): +a(href='/news/') Новости и события индустрии красоты
        li(style='margin-bottom: 8px'): +a(href='/job/') Резюме соискателей
        li(style='margin-bottom: 8px')
          +a(href='/companies/') Каталог компаний индустрии
          |   - поставщики косметики, оборудования и инструментов, расходных материалов, профессиональные магазины, обучающие центры
