extends /blocks/layout-posting/layout-posting

block head
  - header = 'Профессия - стилист, имиджмейкер'
block content
  +trow
    +block('Эмоциональные и рациональные покупатели: взгляд имиджмейкера', {hCol: '#ad2800'})
      p По личным наблюдениям, и на основе опыта работы с клиентами, имиджмейкер создал заметки.
      p Автор выделил 2 типа покупателей: эмоциональный и рациональный.
      p Эмоциональный покупатель
      p Эмоциональным движут особые ощущения. Для таких людей важен антураж, визуальная картинка. Их влекут уютные места для шопинга, оттенки, приятный дизайн, музыка. Решение принимают быстро, если же находятся в поиске особого ощущения, то долго.
      p На шопинге с эмоциональным клиентом стилист-имиджмейкер должен:
      ul
        li Концепции образа обрисовать красочно (стиль, фасон, оттенки).
        li Подобрать комфортные места шопинга, с приятным обслуживанием, дизайном, «изюминками» презентации.
        li Продемонстрировать выбранные варианты, их преимущества.
        li Делать упор на впечатления и эмоции, которые дадут вещи. 
        li Вещи с примерок показать на фото, обосновать преимущества.
      p Рациональный покупатель
      p Находиться в магазине хочет минимум времени. Лучший план: прийти —увидеть — купить — уйти. В процессе вдохновения не ищут, результат считают важнее. 
      p На шопинге с рациональным клиентом стилист-имиджмейкер должен:
      ul
        li Быть с готовой концепцией образа.
        li Отобрать магазины заранее.
        li Подобрать и отвесить вещи заранее.
        li Четко объяснить, в процессе примерки, куда и с чем носить.
        li После покупки отправить презентацию с сочетаниями купленного. 
      p Рациональный подход у 97% мужчин и 60% занятых женщин. Больше таких людей среди руководителей. Эмоциональных — среди творческих личностей, но бывают и исключения.
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с индустрией красоты. Это профессиональное сообщество активных и ярких людей, для которых важным является развитие профессиональных и творческих способностей.
      p На нашем сайте Вы найдете полезную информацию, которая поможет Вам в развитии мастерства и профессионального уровня:
      ul
        li(style='margin-bottom: 8px'): +a(href='/blogs/') Статьи для стилистов
        li(style='margin-bottom: 8px'): +a(href='/portfolio/') Работы из портфолио участников
        li(style='margin-bottom: 8px'): +a(href='/news/') Новости и события в мире стиля и моды
        li(style='margin-bottom: 8px'): +a(href='/videos/') Обучающее видео и мастер-классы
        li(style='margin-bottom: 8px'): +a(href='/job/vacancies/') Вакансии
