extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Обзор прессы индустрии красоты')
  -
    const pressList = [
      {
        name: 'Salon International',
        link: 'analytics-press-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/press/img/logo/salon-international_small.jpg',
        description: 'С 2006 года (с 2009 г. в обновлённом виде) в России выходит русское издание итальянского журнала "Salon International" – профессионального издания для тех, кто связан с индустрией парикмахерского искусства, во всех ее проявлениях.',
        more: true,
      },
      {
        name: 'Парикмахер Стилист Визажист',
        link: 'analytics-press-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/press/img/logo/psv_small.jpg',
        description: 'Журнал издает с 2003 года ИД «Панорама». Первое профессиональное издание, адресованное мастерам и преподавателям парикмахерских академий, школ, колледжей, курсов, факультетов повышения квалификации, а также косметическим компаниям, которые проводят семинары для стилистов. ',
        more: true,
      },
      {
        name: 'Season of beauty',
        link: 'analytics-press-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/press/img/logo/season-of-beauty_small.jpg',
        description: 'Season of beauty - это единственное общероссийское информационное издание, связывающее специалистов, работающих в таких областях индустрии красоты как: парикмахерское искусство, маникюр, педикюр, косметология, салонное оборудование.',
        more: true,
      },
    ]
  +listArticles(pressList)
