extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Бренды'], current:'Бренды по типам'}
block content
  h1 Марки, бренды парикмахерского оборудования
  include ../data/list-brands
  +listArticles(listBrands)
