extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Бренды'}
block content
  h1 Бренды
  p Данный раздел посвящен брендам продукции в сфере парикмахерской индустрии. Здесь представлены мировые бренды различных типов продукции с подробной информацией по каждому бренду.
  p Поиск по названию:
  +formSearchSmall()
  h2 Случайный бренд
  +grid({parLike:true,paddingy:true,justify:'center'})
    +grid__item({m:2,s:3,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/brands/big_4_1268340022.jpg' alt='AGV Group' title='AGV Group')
    +grid__item({m:10,s:9,xs:12})
      p: strong AGV Group
      p В 1997 году Артём и Джорджио объединили свои компании и, избрав девизом «доступная элегантность», атаковали европейский рынок конкурентными ценами на высококачественное оборудование, быстро завоевав ... 
        a(href='brands-item.html') подробнее
  h2 Последние добавленные бренды
  ul.list-marked
    li: a(href='brands-item.html') FINITI
    li: a(href='brands-item.html') AM & PM Essentials
    li: a(href='brands-item.html') RESERVE
    li: a(href='brands-item.html') LUMINESCE
    li: a(href='brands-item.html') FarmaVita
  h2 Бренды по типам
  ul.list-marked
    li
      a(href='#' data-mrc-sh-title='brands-equipment') Оборудование
      ul.list-marked(data-mrc-sh-body='brands-equipment')
          li: a(href='brands-category.html') Марки парикмахерского оборудования
          li: a(href='brands-category.html') Марки оборудования для макияжа
          li: a(href='brands-category.html') Марки маникюрного и педикюрного оборудования
          li: a(href='brands-category.html') Марки косметологического оборудования
    li
      a(href='#' data-mrc-sh-title='brands-cosmetics') Косметическая продукция
      ul.list-marked(data-mrc-sh-body='brands-cosmetics')
        li: a(href='brands-category.html') Марки косметики для волос
        li: a(href='brands-category.html') Марки декоративной косметики
        li: a(href='brands-category.html') Марки материалов и косметики для ногтей и маникюра
        li: a(href='brands-category.html') Марки косметики для лица и тела
    li
      a(href='#' data-mrc-sh-title='brands-instrumens-accessories') Инструменты и аксессуары
      ul.list-marked(data-mrc-sh-body='brands-instrumens-accessories')
        li: a(href='brands-category.html') Марки парикмахерских инструментов
        li: a(href='brands-category.html') Марки маникюрных и педикюрных инструментов
        li: a(href='brands-category.html') Марки косметологических инструментов
block pageBottom
  p В наше время существует слишком много торговых марок продукции, число которых неустанно растет день ото дня. И чем больше выбор, тем сложнее, в особенности начинающим парикмахерам, определиться с его правильностью. Ведь, как известно, только профессиональные парикмахерские бренды способны решить все те вопросы, которые заявлены на их упаковке.
  p И проблема правильности выбора часто осложняется еще и тем, что маркетологи, стремясь заведомо ложно отнести свою торговую позицию к высшей категории, помещают на этикетки продукции сведения о профессиональном классе товаров. Но как же не ошибиться, как стать обладателем единственно правильных, работающих парикмахерских брендов, приносящих только пользу? Конечно же, посетив наш интернет-проект.
  p В специальном разделе, который постоянно пополняется и дополняется ценной информацией, любой желающий сможет ознакомиться с наиболее популярными, известными или же только появившимися парикмахерскими брендами. Создавая данную категорию, мы продумали ее концепцию до мельчайших подробностей, приняв решение вносить в нее только востребованные, но первые по степени важности сведения.
  p Так, чтобы парикмахерские бренды были узнаваемы, к каждому из них добавляется изображение их логотипа. Чтобы было проще отыскать официальное представительство, в менее удаленном от пользователя регионе, приводится адрес нужного сайта. И, безусловно, к каждой торговой марке мы прилагаем полезные данные, которые освещают историю происхождения парикмахерского бренда, его состав и уникальные свойства, возможные линейки товарных позиций.
  p Поэтому, становясь пользователем нашего ресурса, можно существенно расширить собственный кругозор, а также научаться различать и правильно подбирать парикмахерские бренды.
