extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageSection
    +pageHeader('Хрустальные ножницы - 2019')
    +grid({paddingy: true, parLike: true, justify: 'center'})
      +grid__item({m:3,s:4,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/competitions/img/big_614_1558950090.jpg' alt='Хрустальные ножницы - 2019' title='Хрустальные ножницы - 2019')
      +grid__item({m:9,s:8,xs:12})
        h2 Чемпионат России "Хрустальные ножницы - 2019"
        -
          const exhibitionPropertioes = [
            {name: 'Город', value: 'Брянск (Россия)'},
            {name: 'Дата проведения', value: '2019-09-28	- 2019-09-28'},
            {name: 'Место проведения', value: 'здание Администрации Брянской области'},
            {name: 'Организатор', value: 'Управление потребительского рынка правительства Брянской области, АНО Школа парикмахерского искусства, визажа и ногтевого сервиса Валерия Тигрова.'},
          ]
        +properties(exhibitionPropertioes)
    h2 Описание:
    p Полуфинал ЧЕМПИОНАТА России - чемпионат Брянской области по парикмахерскому искусству, декоративной косметике, моделированию и дизайну ногтей; БАРБЕР Батл.	
  +pageSection
    +likely
    p: a(href != staticLinks.competitions).link-arrow к списку чемпионатов и конкурсов
