extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Регистрация компании')
  +grid({parLike: true, paddingy: true})
    +grid__item({m:8,s:10,xs:12})
      -
        const formAccountEdit = {
          fields: [
            {
              type: 'text',
              name: 'name',
              label: ['Название компании:',{tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
            },
            {
              type: 'select',
              name: 'country_id',
              id: 'country_id',
              label: ['Страна:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
            },
            {
              type: 'select',
              name: 'city_id',
              id: 'city_id',
              label: ['Город:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
            },
            {
              type: 'text',
              name: 'region',
              id: 'region',
              warning: 'или',
              clarification: 'Введите Ваш регион (страна, область, город), если его нет в указанных выше списках.',
            },
            {
              type: 'select',
              name: 'metro_id',
              label: 'Метро:',
              options: [' - Выберите станцию - ', 'Автово','Адмиралтейская','Академическая','Балтийская','Василеостровская','Владимирская','Выборгская','Горьковская','Гостиный двор','Гражданский проспект','Девяткино','Достоевская','Елизаровская','Звёздная','Кировский завод','Комендантский проспект','Крестовский остров','Купчино','Ладожская','Ленинский проспект','Лесная','Лиговский проспект','Ломоносовская','Маяковская','Московская','Московские ворота','Нарвская','Невский проспект','Новочеркасская','Обухово','Озерки','Парк Победы','Парнас','Петроградская','Пионерская','Площадь Александра Невского-1','Площадь Александра Невского-2','Площадь Восстания','Площадь Ленина','Площадь Мужества','Политехническая','Приморская','Пролетарская','Проспект Большевиков','Проспект Ветеранов','Проспект Просвещения','Пушкинская','Рыбацкое','Садовая','Сенная площадь','Спортивная','Старая Деревня','Технологический институт','Удельная','Улица Дыбенко','Фрунзенская','Чёрная речка','Чернышевская','Чкаловская','Электросила',],
            },
            {
              type: 'email',
              name: 'email',
              id: 'email',
              label: ['E-mail компании:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Введите адрес электронной почты компании.<br>Например: mail@companyname.ru',
              required: true,
            },
            {
              type: 'text',
              name: 'adress',
              id: 'adress',
              label: ['Адрес:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Например: ул. Садовая, д.21, офис 223',
              required: true,
            },
            {
              type: 'tel',
              name: 'phone_number',
              id: 'phone_number',
              label: ['Телефон:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Например: +7 (495) 123-45-67',
              required: true,
            },
            {
              type: 'tel',
              name: 'fax_number',
              id: 'fax_number',
              label: 'Факс:',
              clarification: 'Например: +7 (495) 123-45-67',
            },
            {
              type: 'text',
              name: 'site_url',
              id: 'site_url',
              label: 'Адрес сайта (URL):',
              clarification: 'Например: http://www.hairlife.ru',
            },
            {
              type: 'text',
              name: 'work_time',
              id: 'work_time',
              label: 'График работы:',
            },
            {
              type: 'textarea',
              name: 'about',
              label: ['Описание деятельности:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
              clarification: 'Длина описание не должна превышать 2000 символов.',
              additionalInfo: [{tag: 'strong', content: '1996'}, 'символов осталось']
            },
            {
              type: 'checks',
              checks: [
                {type:'checkbox',id:'1',name:'company_line[1]',label:'Оборудование для салонов'},
                {type:'checkbox',id:'3',name:'company_line[3]',label:'Косметическая продукция'},
                {type:'checkbox',id:'2',name:'company_line[2]',label:'Инструменты и аксессуары'},
                {type:'checkbox',id:'11',name:'company_line[11]',label:'Расходные материалы и одежда'},
                {type:'checkbox',id:'10',name:'company_line[10]',label:'Волосы и изделия из волос'},
                {type:'checkbox',id:'16',name:'company_line[16]',label:'Одежда, обувь, аксессуары'},
                {type:'checkbox',id:'4',name:'company_line[4]',label:'Услуги салона красоты'},
                {type:'checkbox',id:'5',name:'company_line[5]',label:'Клиника по лечению волос, облысения'},
                {type:'checkbox',id:'6',name:'company_line[6]',label:'Профессиональное обучение'},
                {type:'checkbox',id:'7',name:'company_line[7]',label:'Тематическое СМИ'},
                {type:'checkbox',id:'8',name:'company_line[8]',label:'Организация выставок'},
                {type:'checkbox',id:'9',name:'company_line[9]',label:'Программное обеспечение'},
                {type:'checkbox',id:'12',name:'company_line[12]',label:'Профессиональная ассоциация'},
                {type:'checkbox',id:'13',name:'company_line[13]',label:'Подбор персонала'},
                {type:'checkbox',id:'14',name:'company_line[14]',label:'Консалтинговые и бизнес услуги'},
                {type:'checkbox',id:'15',name:'company_line[15]',label:'Ремонт и обслуживание инструментов и оборудования'},
              ],
              label: ['Сфера деятельности:', {tag: 'span', className: 'footnote-mark', content: '*'}], 
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      p Символом 
        span.footnote-mark *
        |  отмечены поля, обязательные для заполнения.
      +formRegistration(formAccountEdit) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
