extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Контактная информация')
  +pageSubsection
    p
      strong г. Санкт-Петербург
      br
      | 195427, ул. Веденеева д. 4
      br
      | По вопросам рекламы: +7 (952) 287-17-47
  +pageSubsection
    h2 Электронная почта:
    p
      a(href='mailto:assistance@hairlife.ru') assistance@hairlife.ru
      |  - технические вопросы
    p
      a(href='mailto:service@hairlife.ru') service@hairlife.ru
      |  - общие вопросы
    p
      a(href='mailto:reklama@hairlife.ru') reklama@hairlife.ru
      |  - размещение рекламы
    p
      a(href='mailto:pr@hairlife.ru') pr@hairlife.ru
      |  - сотрудничество и PR
  +pageSubsection
    p Вы также в любой момент можете связаться с нами через 
      a(href != staticLinks.support) форму обратной связи.
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
