extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Сотрудничество')
  p Портал 
    strong Hairlife.ru
    |  открыт для взаимовыгодного и плодотворного сотрудничества со всеми участниками, организаторами выставок, конкурсов и семинаров, печатными изданиями, дистрибьютерам продукции и другими компаниями, тем или иным образом связанными с индустрией красоты. Мы готовы рассмотреть любые Ваши предложения.
  h2 Проведение совместных конкурсов
  p Также наш портал предлагает проведение совместных рекламных программ: призовых акций, конкурсов и других мероприятий.
  p Это простой, эффективный и недорогой способ обратить внимание на компанию и ее товары и услуги, интересно и, в тоже время, ненавязчиво донести до потенциального потребителя всю необходимую рекламную информацию.
  p Проведение совместных акций с нашим порталом несомненно позволит Вам привлечь новых клиентов, увеличить лояльность и узнаваемость торговой марки. Мы сможем оперативно донести Вашу рекламу до профессиональной аудитории!
  p По вопросу проведения совместных конкурсов звоните: +7 (952) 287-17-47

  h2 Информационное сотрудничество
  p По вопросам информационного сотрудничества пишите на: 
    a(href='/_service/nospam.html?lgn=pr&srv=hairlife&dmn=ru') pr@hairlife.ru
  p: strong Для организаторов выставок, чемпионатов мы предлагаем информационную поддержку события
  ul.list-marked.list-marked--w-prev-par
    li размещение подробной информации о мероприятие в разделах "Выставки" и "Чемпионаты и конкурсы";
    li размещение анонса события на главной странице портала, в разделах "Выставки" и "Чемпионаты и конкурсы";

  p: strong Для организаторов семинаров, мастер-классов, курсов мы предлагаем информационную поддержку мероприятия
  ul.list-marked.list-marked--w-prev-par
    li размещение информации в рассылке портала;
    li размещение информации на форуме;


  p: strong Вы можете разместить наши баннеры на Вашем сайте: 
    a(href != staticLinks.aboutBanners) получить коды баннеров
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
