extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageSection
    +pageHeader('NAIL-BARISTA')
    include ../data/event.pug
    +announcement(event)
    +likely
    p: a(href='seminars.html').link-arrow к списку мероприятий
