extends /blocks/layout/layout
include /blocks/forum-quote/forum-quote
include /blocks/codebox/codebox

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Помощь')
  +pageSection
    h2 Помощь в использовании Смайлики
    +pageSubsection: +blockMarked({header:'Если вы предпочитаете (и если доступно), форум может конвертировать текстовые смайлы в соответствующие графические картинки. Данный форум распознает приведённый лист смалов и заменяет их изображениями.', type: 'simple'})
      p :) и =) результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/smile.png' alt=':)')
      p :| и =| результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/neutral.png' alt=':|')
      p :( и =( результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/sad.png' alt=':(')
      p :D и =D результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/big_smile.png' alt=':D')
      p :o и :O результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/yikes.png' alt=':o')
      p ;) результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/wink.png' alt=';)')
      p :/ результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/hmm.png' alt=':/')
      p :P и :p результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/tongue.png' alt=':P')
      p :lol: результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/lol.png' alt=':lol:')
      p :mad: результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/mad.png' alt=':mad:')
      p :rolleyes: результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/roll.png' alt=':rolleyes:')
      p :cool: результат 
        img(src='http://www.hairlife.ru/forum/img/smilies/cool.png' alt=':cool:')
