extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-search-form/forum-search-form

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Общение участников индустрии красоты')
  +pageSection
    +pageSubsection
      +forumTop()
    +pageSubsection
      .h2 Последние темы форумов
      -
        const lastTopics = [
          { 
            name: 'Насадки для остер',
            desc: 'Подскажите пожалуйста где можно приобрести насадки для остер поштучно не в наборе ...',
          },
          {
            name: 'Удобно ли работать парикмахером в контактных линзах',
            desc: 'У меня вопрос к опытным мастерам парикмахерам, удобно ли работать в контактных линзах, хочу в ...',
          },
          {
            name: 'Сыворотка для лица. Какую использовать?',
            desc: 'Девочки подскажите кто какой сывороткой пользуется? Раньше использовала Формест, хочу поменять. ...',
          },
          {
            name: 'Смешивания продуктов разных брендов',
            desc: 'Дорогие коллеги можно ли, и делаете ли вы комбинирование косметики различных фирм в одном уходе. ...',
          },
          {
            name: 'Сухая кожа',
            desc: 'Всем привет! Девочки, с приходом холодов и включением отопления с кожей твориться что-то страшное. Ноги, ...',
          },
        ]
      ul.list-marked
        each item in lastTopics
          li
            a(href='forum-topic.html') !{item.name}
            br
            | !{item.desc}
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Главная страница форума'], current: 'Поиск'})
    +pageSubsection
      +forumSearchForm()
block pageBottom
  p Форум участников индустрии красоты представляет собой площадку, где каждый участник может найти ответ на волнующие его вопрос, ознакомится с мнениями участников на актуальные темы, получить консультацию от коллег или просто пообщаться с разными людьми. На нашем парикмахерском форуме и других форумах регулярно встречаются новички и профессионалы своего дела, ведущие активное обсуждение.
  p Один из самых счастливых моментов в жизни – это радость общения. Ведь всегда можно узнать много нового, интересного. И особенно, если это общение парикмахеров, коллег и единомышленников, товарищей по духу.
  p Портал индустрии красоты Hairlife.ru – это профессиональный ресурс для парикмахеров, созданный специально для обмена информацией, секретов и методик искусства красоты. На форуме парикмахеров есть место, как и для начинающих мастеров, так и для профессионалов высокого класса. Помните, что общение парикмахеров обеспечивает всестороннее развитие и высокий уровень знаний, и навыков нашей любимой профессии.
  p Для вас не останется никаких тайн, “скользких” мест и затруднений. Любая прическа, стрижка, окрашивание волос – все ответы вы отыщите на парикмахерском форуме.
  p Благодаря экспертным мнениям и советам, вы не только сможете создать элегантный и эксклюзивный образ, но и создадите свой индивидуальный и неповторимый стиль.
  p Постоянный контакт парикмахеров обеспечивается большим разнообразием специальных форумов. И не важно, владелец ли вы салона красоты, косметолог, стилист или визажист, вы всегда найдете своих единомышленников и коллег. Поскольку для каждого направления существует свой парикмахерский форум.
  p Кроме этого на нашем сайте вы найдете специальную учебную литературу, необходимые видеоматериалы и эксклюзивные статьи. Ежедневно сайт обновляется полезными материалами, созданными участниками портала Hairlife.ru. Всё – таки, контакт парикмахеров необходим постоянно.
  p Присоединяйтесь к специальному форуму парикмахеров, ведь здесь вы найдете множество подруг и друзей, объединенных одним интересным увлечением. Тем более, что теперь у вас есть удобная и интересная площадка для общения. Парикмахерский форум ждет вас!
