extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Работа'], current:'Резюме'}
block content
  +pageHeader('Резюме', {simple:false, add: {name: 'добавить резюме', href: addResume}, rss:'http://www.hairlife.ru/resume/rss/'})
  +pageSection
    p: a(href='#' data-mrc-sh-title='resumes-search'): strong Поиск резюме:
    form.form(data-mrc-sh-body='resumes-search')
      +grid({parLike: true})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -', 'Москва', 'Санкт-Петербург', 'Кимовск', 'Рыльск', 'Абаза', 'Абакан', 'Абинск']})#city_id
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'amplua_id', label: 'Сфера деятельности:', options: ['- Выберите амплуа -','Руководитель салона','Администратор салона','Парикмахер','Технолог','Мастер по косичкам','Имиджмейкер','Мастер по наращиванию волос','Стилист','Визажист','Мастер по ресницам','Мастер ногтевого сервиса','Косметолог','Мастер перманентного макияжа','Массажист','Модельер одежды','Врач-трихолог','Татуировщик','Пирсинг мастер','Фотограф','Преподаватель','Продажи','Маркетинг, PR','Флорист','Фитнес инструктор','Иное',]})#amplua_id
          +grid__item({m:4,s:6,xs:12}).grid
            +grid__item({s:8,xs:12}).form__submit: button(type='submit').btn Найти 
    p: strong Найдено резюме: 209
  +pageSection
    +blockMarked: p При обращении к соискателям не забывайте указывать, что интересующее Вас резюме размещено на портале Hairlife.ru
    include ../data/list-resumes
    +table(resumesList)
  +pageSection
    include ../blocks/pagination/pagination
block pageBottom
  p На любом витке профессионального развития парикмахер неизменно находится в поиске себя, своего призвания и предназначения. Начинающему мастеру предстоит долгий путь, дорога которого будет идти сквозь череду препятствий, но у нее всегда есть достоинство — она идет вперед и вверх. И по мере своего становления, личностного и профессионального роста парикмахер нуждается в трудоустройстве или же смене места работы. И, безусловно, первое, что ему для этого понадобится — это резюме парикмахера.
  p Если вести речь о новичке в парикмахерском искусстве, то его предложение о работе будет иметь существенные отличия от того, которое опубликует его коллега с опытом практической работы. Так, если в собственное резюме парикмахер-универсал уже может смело приводить данные о стаже работы, ранее занимаемых должностях, местах работы, сведениях о повышении квалификации на тех или иных мастер-классах, семинарах и других обучающих курсах, то у начинающего парикмахера все обстоит совершенно по-другому. Поскольку за его плечами опыт как таковой отсутствует, то в собственном резюме парикмахер, до поры до времени, вынужден оставлять данный пункт без заполнения. Но у него все же, в каком-то смысле, есть больше шансов быть принятым на выгодную должность лишь потому, что им движет небывалая целеустремленность и стремительное желание к совершенству.
  p Наш ресурс дарит шанс каждому стать востребованным и заслуженно признанным в своем мастерстве. Как резюме парикмахера-универсала, так и начинающего в этой профессии мастера — они равнозначно найдут отклик со стороны устраивающего их работодателя. Публикуя сведения о готовности к работе, парикмахер существенно сокращает время на поиск, поскольку, если услуги соискателя подходят работодателю, то он тут же будет оповещен об этом личным сообщением на портале.
