extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Работа'], current:'Вакансии'}
block content
  +pageHeader('Вакансии', {simple:false, add: {name: 'добавить вакансию', href: addVacancy}, rss:'http://www.hairlife.ru/resume/rss/'})
  +pageSection
    p: a(href='#' data-mrc-sh-title='vacancies-search'): strong Поиск вакансий:
    form.form(data-mrc-sh-body='vacancies-search')
      +grid({parLike: true})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -', 'Москва', 'Санкт-Петербург', 'Кимовск', 'Рыльск', 'Абаза', 'Абакан', 'Абинск']})#city_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'amplua_id', label: 'Сфера деятельности:', options: ['- Выберите амплуа -','Руководитель салона','Администратор салона','Парикмахер','Технолог','Мастер по косичкам','Имиджмейкер','Мастер по наращиванию волос','Стилист','Визажист','Мастер по ресницам','Мастер ногтевого сервиса','Косметолог','Мастер перманентного макияжа','Массажист','Модельер одежды','Врач-трихолог','Татуировщик','Пирсинг мастер','Фотограф','Преподаватель','Продажи','Маркетинг, PR','Флорист','Фитнес инструктор','Иное',]})#amplua_id
        +grid__item({m:4,s:6,xs:12}).grid
          +grid__item({s:8,xs:12}).form__submit: button(type='submit').btn Найти 
    p: strong Найдено вакансий: 1512
  +pageSection
    +blockMarked: p При обращении к соискателям не забывайте указывать, что интересующее Вас резюме размещено на портале Hairlife.ru
    include ../data/list-vacancies
    +table(vacanciesList)
  +pageSection
    include ../blocks/pagination/pagination
  +pageSection
    .h3 Быстрые ссылки:
    -
      const fastLinks = [
        {name: 'Вакансии - Парикмахер - Нижний Новгород', link: 'job-vacancies.html'},
        {name: 'Вакансии - Мастер по наращиванию волос - Волгоград', link: 'job-vacancies.html'},
        {name: 'Вакансии - Мастер по наращиванию волос - Москва', link: 'job-vacancies.html'},
        {name: 'Вакансии - Парикмахер - Санкт-Петербург', link: 'job-vacancies.html'},
        {name: 'Вакансии - Парикмахер - Москва', link: 'job-vacancies.html'},
      ]
    ul.list-marked
      each item in fastLinks
        li: a(href != item.link) !{item.name}
block pageBottom
  p Когда создавался ресурс Hairlife.ru, основная задача, которая преследовалась, — создать площадку, которая не только объединяет профессионалов, позволяет им делиться бесценным опытом, находить поддержку и признание собственного мастерства, но и помогает им быть востребованными. Именно поэтому на сайте появился раздел парикмахерских вакансий.
  p Создав своеобразную биржу труда, мы существенно облегчили жизнь, как соискателям, так и работодателям. Так, работодатели в любое удобное для них время, когда им понадобился парикмахер, вакансии свои публикуют, и ждут на них отклика. А претенденты, найдя именно то предложение о работе, которое их устраивает по всем параметрам, способны мгновенно дать о себе знать потенциальному работодателю. Для этого, прямо на сайте, они смогут отправить личное сообщение автору публикации, приложив, например, попутно и ссылку на свое резюме. Или же подробно рассказать о своих преимуществах и профессиональных качествах. Таким образом, для парикмахеров вакансии, найденные на данном проекте, позволяют превратить поиск работы в удобный, быстрый и увлекательный процесс.
  p Другим преимуществом нашего раздела является то, что в нем выгодное предложение для себя может найти человек любого профессионального уровня. Так, если мастер только недавно закончил обучение, получив базовые знания, то на нашем проекте его всегда может ждать вакансия «парикмахер без опыта». Иное выгодное отличие регистрации на нашем сайте то, что его участниками могут становиться люди не только из разных городов, но и стран. Поэтому подыскать работу имеют равнозначные шансы все участники ресурса. У нас публикуются не только вакансии парикмахера в Москве, но и в Киеве, а также других городах и странах.
  p Также, надо сказать, что любой соискатель, прежде чем связаться с работодателем, открыв предложение о работе на нашем ресурсе, имеет возможность получить подробные сведения и ответы на большинство вопросов прямо в тексте, который разместила парикмахерская, вакансии свои публикуя. Так, в тексте предложения обязательно прописывается предполагаемый размер заработной платы, наименование должности с указанием специализации, указывается вакансия парикмахера без опыта это или же необходим определенный стаж работы. Также сразу можно выяснить город, в котором открывается предложение о работе. Соответственно, это может быть вакансия парикмахера в Москве или где-то в совершенно другом населенном пункте.
