extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Новости индустрии красоты', {simple:false, add: {name: 'добавить новость', href: staticLinks.addNews}, rss:'http://www.hairlife.ru/news/rss/'})
  +pageSection
    include ../data/list-news
    +listArticles(newsList)
  +pageSection
    include ../blocks/pagination/pagination
block pageBottom
  p В современном мире, где время идет слишком быстро, наполняя жизнь разительными переменами, очень важно держать руку на пульсе событий, вовремя получая ценные и своевременные сведения. Понимая все это, на этом проекте был создан специальный раздел, вмещающий парикмахерские новости.
  p Новостная колонка ежедневно пополняется информацией о предстоящих событиях: выставках, семинарах, мастер-классах, шоу-программах, чемпионатах, фестивалях. Также в ней дается обзор уже состоявшихся мероприятий. В данном случае новости парикмахеров дополняются фотогалереей с места событий, перечнем призеров в тех или иных номинациях, сведениями о призах, представителях жюри и так далее. Нередко в парикмахерских новостях можно встретить информацию о новых парикмахерских средствах, презентованных теми или иными брендами, инструментах, аксессуарах, приборах, которые гарантированно сделают работу парикмахера проще и эффективнее.
  p За счет особой концепции развития, новостями парикмахеров в указанном разделе могут делиться все участники портала. Благодаря этому категория быстро полнится ценными знаниями, наполняется бесценным опытом, в некоторых случаях — авторскими материалами. А это, в свою очередь, с одной стороны, делает наш ресурс узнаваемым, а, с другой стороны, позволяет участникам быть всегда в курсе всех важнейших событий в их профессиональной сфере. Наверное, по этой причине парикмахерские новости и становятся часто посещаемым разделом.
  p И в завершение, надо сказать, что новостная колонка Hairlife.ru полнится исключительно теми сведениями, которые представляют для наших участников профессиональную ценность. Таким образом, новости парикмахеров — та колонка нашего ресурса, которая заботится об информационной подкованности специалиста индустрии красоты.
