extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Аренда'], current:'Аренда салонов красоты и парикмахерких'}
block content
  include ../data/notices
  +pageHeader('Объявления об аренде салонов красоты и парикмахерских')
  +pageSection
    +pageSubsection
      p: a(href='#' data-mrc-sh-title='rent-salons-search'): strong Поиск объявлений:
      form.form(data-mrc-sh-body='rent-salons-search')
        +grid({ parLike: true})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -', 'Москва', 'Санкт-Петербург', 'Кимовск', 'Рыльск', 'Абаза', 'Абакан', 'Абинск']})#city_id
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'salon_type_id', label: 'Что сдается:', options: ['- Выберите тип -', 'Парикмахерская', 'Салон красоты', 'Маникюрная студия', 'Косметологический салон']})
          +grid__item({m:4,s:6,xs:12}).grid
            +grid__item({s:8,xs:12}).form__submit: button(type='submit').btn Найти 
      p: strong Найдено объявлений: 389
      p: strong: a(href != staticLinks.noticesRentAddSalon) Добавить объявление
    +pageSubsection
      +tableNotices(listRentSalon)
    +pageSubsection
      include ../blocks/pagination/pagination
    +pageSubsection
      .h3 Быстрые ссылки:
      ul.list-marked
        li: a(href='') Объявления об аренде - Косметологический салон - Краснодар
        li: a(href='') Объявления об аренде - Салон красоты - Москва
        li: a(href='') Объявления об аренде - Салон красоты - Курск
        li: a(href='') Объявления об аренде - Парикмахерская - Губкинский
        li: a(href='') Объявления об аренде - Салон красоты - Люберцы
