extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents: ['Главная', 'Аренда', 'Аренда салонов красоты и парикмахерких'], current: 'Парикмахерская'}
block content
  +pageSection
    +pageHeader('Аренда - Парикмахерская - Москва')
    +blockMarked: p При обращении к арендодателям не забывайте указывать, что интересующее Вас объявление найдено на портале Hairlife.ru
    -
      const rent = [
        {
          name: 'Общая информация',
          properties: [
            {name: 'Стоимость', value: {tag: 'strong', content: '1500 в день'}},
            {name: 'Город', value: {tag: 'strong', content: 'Москва'}},
            {name: 'Адрес', value: 'Духовской переулок, 17, стр. 10'},
            {name: 'Дата публикации', value: '26.08.2019'},
          ],
        },
        {
          name: 'Описание',
          properties: [
            {name: '', value: 'Сдается в аренду 4 парикмахерских кресла. Можно вместе, можно по отдельности. Цена за одно кресло – 1500р в день, вместе с полотенцами 2000р. Просторное, прекрасно оборудованное помещение со стильным дизайном. Большие витринные окна, высокий потолок 7м. Выставлен профессиональный свет (две профессиональные кольцевые лампы) и специальный фон. Что дает мастеру возможность сделать качественные фото и видео. Есть кухня (подсобка), холодильник, микроволновка, кулер, чайник, посуда. Клиентам можно предложить воду, чай или кофе. Есть складные стульчики (10шт) Отличное месторасположение! 1 этаж, отдельный вход с улицы. Находится на территории арт пространства THE LOFT, в 10 мин ходьбы от метро Тульская. В конце дня клининг. Доступ в помещение не нормирован – можно и прийти рано утром, и уйти поздно вечером. Есть возможность арендовать профессиональные инструменты для Мастеров (парикмахеров/ барберов/ массажистов) за дополнительную плату. Также сдается в аренду 1 массажное место для наращивания ресниц. Помещение прекрасно подходит для проведение профессиональных мастер-классов (парикмахеров, барберов, лашмейкеров и массажистов), вебинаров, презентаций продукции, мини мероприятий. Для проведения праздников, мастер-классов, нетворкингов, встреч с подписчиками или подругами, игры в мафию. Также можно провести фотосессию в красивом интерьере и с панорамными окнами.'},
          ],
        },
        {
          name: 'Контактная информация',
          properties: [
            {name: 'Контактное лицо', value: 'Ирэн'},
            {name: 'Контактный телефон', value: '2147483647'},
          ],
        },
      ]
    +announcement(rent)
    +likely
    p: a(href='notices-rent-places.html').link-arrow к списку объявлений
