extends /blocks/layout/layout
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block main
  +grid({justify:'center', paddingy: true})
    +grid__item({m:8,xs:12})
      +pageHeader('Регистрация участника')
      include ../blocks/form-error/form-error
      +blockMarked: strong Зарегистрировать компанию Вы сможете после регистрации участника
      p Все поля обязательны для заполнения.
      include ../data/reg
      +formRegistration(formReg)
