extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents: ['Главная', 'Работа', 'Вакансии'], current: 'Парикмахер универсал'}
block content
  +pageSection
    +pageHeader('Стилист, имиджмейкер, шоппинг-сопровождение', {simple:false, add: {name: 'добавить резюме', href: staticLinks.addResume}, rss:false})
    +blockMarked: p При обращении к соискателям не забывайте указывать, что интересующее Вас резюме размещено на портале Hairlife.ru
    include ../data/resume.pug
    +announcement(resume)
    +likely
    p: a(href='#' data-mrc-sh-title='peoples-search'):  strong Предложить вакансию:
    form.form.form--background(data-mrc-sh-body='peoples-search')
      .form__header Предложить вакансию соискателю
      .form__input: +formInput({type: 'textarea', name: 'reply_text', label: 'Текст предложения:'})
      +grid().form__submit
        +grid__item({m:4,s:8,xs:12})
          button(type='submit').btn Отправить
