extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageSection
    +pageHeader('Поиск')
    h2 Поиск по порталу
    +formSearchSmall({placeholder:'Введите запрос'})
    h2 Поиск по форуму
    +formSearchSmall({placeholder:'Введите запрос'})
    p: a(href != staticLinks.forumSearch) Расширенный поиск по форуму
