extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Обучающие мероприятия', {simple:false, add: {name: 'добавить мероприятие', href: addSeminar}, rss:'http://www.hairlife.ru/news/rss/'})
  +pageSection
    p: a(href='#' data-mrc-sh-title='seminars-search'): strong Поиск мероприятий:
    form.form(data-mrc-sh-body='seminars-search')
      +grid({ parLike: true})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -','Москва','Санкт-Петербург','Кимовск','Рыльск','Абаза','Абакан','Абинск','Агидель','Адлер к.п.','Азнакаево','Азов','Айхал п.',]})#city_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'type_id', label: 'Тип:', options: ['- Выберите тип -','Семинар','Мастер класс','Курс',]})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'category_id', label: 'Категория:', options: ['- Выберите категорию -','Парикмахерское дело','Визаж','Ногтевой сервис','Косметология','Мода и стиль','Флористика','Управление салоном красоты','Общее',]})
        +grid__item({xs:12})
          +grid
            +grid__item({s:4,xs:12}).form__submit: button(type='submit').btn Найти 
    p: strong Найдено мероприятий: 301 
  +pageSection
    include ../data/list-seminars
    +table(seminarsList)
  +pageSection
    include ../blocks/pagination/pagination
