extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Торговая площадка','Оборудование для салонов','Парикмахерское оборудование','Парикмахерские кресла'], current:'Domingo'}
block content
  -
    const product = {
      brand: [{name: 'Бренд', value: 'Beauty Star', link: 'brands-item.html'}],
      properties: [
        {name: 'Материал обивки', value: 'Кожзам'},
        {name: 'Тип подъемника', value: 'Гидравлика'},
        {name: 'Материал подлокотников', value: 'Кожзам'},
      ]
    }
  +grid({paddingy:true, justify: 'center', parLike:true})
    +grid__item({m:3,s:4,xs:6})
      a(href='http://www.hairlife.ru/uploaded_files/users/2008/1/products/big_958_1305548262.jpg' data-fancybox): img(src='http://www.hairlife.ru/uploaded_files/users/2008/1/products/big_958_1305548262.jpg' alt='Domingo' title='Domingo')
    +grid__item({m:9,s:8,xs:12})
      +pageHeader('Domingo', {simple:false, add: {name: 'добавить товар', href: staticLinks.addOffer}, rss:false})
      +properties(product.brand)
      h2 Характеристики:
      +properties(product.properties)
      h2 Описание:
      p
        a(href='http://www.hairlife.ru/forum/topic/93/') Кресло парикмахерское
        | , мягкие элементы обиты искусственной кожей. Комплектуется гидроподъемником на пятилучье. Цвет чёрный. Размер (ДхШхВ):62х60х46-60
  h2 Где купить Domingo
  p В настоящее время предложений от компаний для данного товара нет.
  .h4 Новое:
  -
    const offers = [
      {
        seller: 'Волосы 24',
        link: 'companies-item.html',
        city: 'Санкт-Петербург',
        image: 'http://www.hairlife.ru/uploaded_files/companies/logos/small_813_1360230987.jpg',
        comment: 'Стоимость указана за 1 прядь. Интересное предложение для оптовых покупателей - большие скидки на продукцию. Для розничных покупателей - накопительная система скидок.',
        price: 100,
      },
      {
        seller: 'БьютиТрейд',
        link: 'companies-item.html',
        city: 'Москва',
        comment: 'Заказ в интернет магазине profen с курьерской доставкой по Москве и Санкт-Петербургу. Доставка Почтой России по РФ.',
        price: 8804,
        buy: false,
      },
    ]
  +tableOffers(offers)
  .h2 Похожие товары
  - const similarProducts = ['Волосы на кератиновой капсуле Волосы на кератиновой капсуле славянского типа до 50 см (из среза)','Волосы в срезе Волосы в срезе до 45 см','Волосы на кератиновой капсуле Волосы на кератиновой капсуле славянского типа 50-55 см','Волосы на кератиновой капсуле Китай Волосы на кератиновой капсуле','Волосы в срезе Волосы в срезе до 60 см (светлые оттенки)',]
  ul.list-marked
    each product in similarProducts
      li: a(href='trade-item.html') !{product}
block aside
  -
    const asideMenu = {
      header: 'Торговая площадка',
      list: [
        {name: 'Разместить предложение на продукцию', href: staticLinks.addOffer},
      ]
    }
  +asideMenu(asideMenu)
  +aside()
    p Поиск продукции по названию:
    +formSearchSmall
