extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная', 'Торговая площадка', 'Оборудование для салонов', 'Парикмахерское оборудование'], current: 'Парикмахерские кресла'}
block content
  +pageHeader('Парикмахерские кресла', {simple:false, add: {name: 'добавить товар', href: staticLinks.addOffer}, rss:false})
  +pageSection
    +pageSubsection
      h2 Лучшие товары
      +grid({parLike: true, paddingy: true})
        +grid__item({m:4,s:6,xs:12})
          +grid({parLike: true, paddingy: true})
            +grid__item({xs:5}): img(src='http://www.hairlife.ru/uploaded_files/users/2017/56989/products/big_43_1505981760.jpg'  alt='Мужское парикмахерское кресло Modern 1012' title='Мужское парикмахерское кресло Modern 1012')
            +grid__item({xs:7}): a(href='trade-item.html') Мужское парикмахерское кресло Modern 1012
    +pageSubsection
      p: a(href='#' data-mrc-sh-title='trade-search'): strong Фильтр продукции:
      form.form(data-mrc-sh-body='trade-search')
        +grid({parLike: true})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({row: true, type: 'select', name: 'brand_id', label: 'Бренд:', options: ['- Все бренды' ,'Beauty Star' ,'Gamma &amp; Bross Spa' ,'Ceriotti' ,'Karisma' ,'Pietranera' ,'Имидж Мастер' ,'Maletti',]})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({row: true, type: 'text', name: 'name', label: 'По названию:', })
          +grid__item({m:4,s:6,xs:12}).grid
            +grid__item({s:8,xs:12}).form__submit: button(type='submit').btn Отобрать 
    +pageSubsection
      include ../data/trade-subcategory
      +table(tradeSubcategory)
    +pageSubsection
      include ../blocks/pagination/pagination
block aside
  -
    const asideMenu = {
      header: 'Торговая площадка',
      list: [
        {name: 'Разместить предложение на продукцию', href: staticLinks.addOffer},
      ]
    }
  +asideMenu(asideMenu)
  +aside()
    p Поиск продукции по названию:
    +formSearchSmall
