extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents: ['Главная', 'Работа', 'Вакансии'], current: 'Парикмахер универсал'}
block content
  +pageSection
    +pageHeader('Парикмахер универсал', {simple:false, add: {name: 'добавить вакансию', href: staticLinks.addVacancy}, rss:false})
    +blockMarked: p При обращении к работадателям не забывайте указывать, что интересующая Вас вакансия размещена на портале Hairlife.ru
    include ../data/vacancy.pug
    +announcement(vacancy)
    +likely
    p: a(href='#' data-mrc-sh-title='vacancy-response'): strong Откликнуться на вакансию:
    form.form.form--background(data-mrc-sh-body='vacancy-response')
      .form__header Откликнуться на вакансию
      .form__input: +formInput({type: 'textarea', name: 'reply_text', label: 'Текст сообщения:'})
      +grid().form__submit
        +grid__item({m:4,s:8,xs:12})
          button(type='submit').btn Отправить
    p: a(href='jobs-vacancies.html').link-arrow к списку вакансий
