extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Персоны'], current:'Золотарева Светлана'}
block content
  +pageSection
    +pageHeader('3. салонный френч.', {simple: false, add:{name:'добавить видео',href: staticLinks.addVideo}, rss: false})
    -
      const video = {
        videoId: '_r4m6hVXOOA',
        description: 'наращивание ногтей',
        tags: ['наращивание ногтей'],
        author: 'Золотарева Светлана',
      }
    +videoItem(video)
    -
      const blocked = {
        blocked: true,
        description: 'наращивание ногтей',
        tags: ['наращивание ногтей'],
        author: 'Золотарева Светлана',
      }
    +videoItem(blocked)
    .h2 Похожие видео
    -
      const similarWorks = {
        list: [
          {src:'http://i1.ytimg.com/vi/x9KSauyyMsk/default.jpg', href:'videos-item.html', alt:'Наращивание ногтей "Хрустальное"', description:'Наращивание ногтей "Хрустальное"'},
          {src:'http://i1.ytimg.com/vi/IHtSRdv9ZEs/default.jpg', href:'videos-item.html', alt:'Акриловое моделирование и простой дизайн ногтей', description:'Акриловое моделирование и простой дизайн ногтей'},
          {src:'http://i1.ytimg.com/vi/oZ-hCqd1E5Y/default.jpg', href:'videos-item.html', alt:'Наращивание ногтей "Френч за 40 минут" от В. Клопотовой!', description:'Наращивание ногтей "Френч за 40 минут" от В. Клопотовой!'},
          {src:'http://i1.ytimg.com/vi/8PibRWvMBiQ/default.jpg', href:'videos-item.html', alt:'мастер класс 1', description:'мастер класс 1'},
        ]
      }
    +gallery(similarWorks)
    .h2 Обсуждения на форуме по теме:
    ul.list-marked
      li
        a(href='/') Художественная роспись на ногтях
        br
        | Чем предпочитаете рисовать и часто ли у Вас заказывают роспись? Просто сейчас есть возможность съездить на курсы по росписи, но ...
