.video-blocked
  position relative
  width 100%
  padding-bottom 56.25%
  background-color #f6f6f6
  &__inner
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding basePadding (basePadding*2)
