mixin announcement(item)
  .announcement(class != attributes.class)
    each block in item
      .announcement__subtitle
        .h2 !{block.name}
        if block.nameAdd
          span.announcement__subtitle-addition: +createElement(block.nameAdd)
      +properties(block.properties).announcement__properties
