mixin videoItem(video)
  .video-item
    if !video.blocked
      .video-item__iframe
        +youtubeResponsive(video.videoId)
    else
      include ../video-blocked/video-blocked
    .video-item__info
      p.video-item__property !{video.description}
      p.video-item__property
        | Метки: 
        each tag, i in video.tags
          a(href='/') !{tag}
          if (i < video.tags.length - 1)
            | , 
      p.video-item__property Добавил(а): 
        a(href='peoples-item.html') !{video.author}
      .likely
        .vkontakte
        .facebook
        .twitter
        .odnoklassniki
        .gplus
