.form-error
  .form-error__title Неправильно заполнена форма:
  .form-error__body Вы не заполнили поле: 
    strong Логин (E-mail)
    br
    | Вы не заполнили поле: 
    strong Пароль
    br
    | Вы не заполнили поле: 
    strong Имя, фамилия
    br
    | Вы не выбрали поле: 
    strong Амплуа
    br
    | Вы не выбрали поле: 
    strong Город
    br
    | Поле 
    strong Место жительства
    |  должно быть заполнено, если вы не заполнили поле: Город
