.form-rent-elements
  &__row
    display flex
    margin -(basePadding/2) -(basePadding)
    & + &
      margin-top 0
    &:only-child
      & ^[-2]__remove a
        visibility hidden
    @media screen and (max-width point-l - 1)
      flex-wrap wrap
    @supports (display grid)
      display grid
      grid-gap basePadding (basePadding*2) // @stylint ignore
      grid-template-areas 'one two three four five'
      margin 0
      & + &
        margin-top (basePadding/3*4)
      & ^[-1]__input
        padding 0
        &:nth-of-type(1)
          grid-area one
        &:nth-of-type(2)
          grid-area two
        &:nth-of-type(3)
          grid-area three
        &:nth-of-type(4)
          grid-area four
      & ^[-1]__remove
        margin ((line-m - font-m) /2) 0
      @media screen and (max-width point-l - 1)
        grid-template-areas 'one one one two two two' 'three three four four five five'
      @media screen and (max-width point-s - 1)
        grid-template-areas 'one one one one one one' 'two two two two two two' 'three three four four five five'
  &__input
    flex-grow 1
    padding (basePadding/2) basePadding
    .form-input__label
      white-space nowrap
    .form-input__field[type='number']
      -moz-appearance textfield // @stylint ignore
      &::-webkit-outer-spin-button
      &::-webkit-inner-spin-button
        margin 0
        -webkit-appearance none // @stylint ignore
  &__remove
    flex-shrink 0
    align-self flex-end
    height 1.5rem
    margin (basePadding + .25rem) basePadding
    line-height 1.5
    text-align center
  a&__add
    display block
    margin-top (basePadding/3*4)
