include /blocks/forum-message-user/forum-message-user

mixin forumMessage(message = {})
  .forum-message(class != attributes.class id != attributes.id)
    +forumMessageUser(message.author).forum-message__user
    .forum-message__header
      .forum-message__date: a(href != 'forum-topic.html#'+attributes.id) !{message.date}
      if message.count
        strong.forum-message__count !{message.count}
    if message.topic || message.forum
      .forum-message__info
        if message.topic
          a.forum-message__topic(href='forum-topic.html') !{message.topic}
        if message.forum
          if !message.replies
            - message.replies = 0
          .forum-message__forum (!{message.replies} ответов, оставленных в
            | 
            a(href='forum-category.html') !{message.forum}
            | )
    .forum-message__main
      p: +createElement(message.body)
    if message.footer
      .forum-message__footer
        if message.footer.links
          each link in message.footer.links
            a.forum-message__footer-link(href != link.href) !{link.name} 
