.forum-message
  display grid
  grid-template-areas 'user header' 'user info' 'user main' '. footer'
  grid-template-columns 1fr 2fr
  grid-template-rows min-content min-content 1fr min-content
  background-color #f1f1f1
  &__user
    grid-area user
    padding basePadding (basePadding*2)
  &__header
    display flex
    flex-wrap wrap
    justify-content space-between
    grid-area header
    padding basePadding
    border-left #dde4eb solid 1px
  &__info
    display flex
    flex-wrap wrap
    grid-area info
    padding 0 basePadding basePadding
    border-left #dde4eb solid 1px
  &__topic
    margin-right .5rem
    padding-x basePadding
    font-weight bold
  &__forum
    padding-x basePadding
    color #999
  &__main
    grid-area main
    padding (basePadding*2)
    background-color #f9f9f9
    border-left #dde4eb solid 1px
  &__footer
    display flex
    flex-wrap wrap
    justify-content flex-end
    grid-area footer
    padding (basePadding/2) basePadding
    background-color #f9f9f9
    border-top #dde4eb dashed 1px
    border-left #dde4eb solid 1px
  &__footer-link
    margin (basePadding/2) basePadding
  &__date
  &__count
    padding-x basePadding
  @media screen and (max-width point-m - 1)
    grid-template-areas 'user header' 'info info' 'main main' 'footer footer'
    grid-template-columns 1fr max-content
    grid-template-rows min-content min-content 1fr min-content
    &__header
      border-left none
    &__main
    &__footer
      border-left none
    &__date
      align-self center
      font-size font-s
    &__count
      display none
