.list-marked
  @extend p
  padding-left (basePadding*2)
  & + &
  p + &
  .list-numbered + &
  .table + &
  .figure + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top .5625rem
  h3 + &
    margin-top .3125rem
  h4 + &
    margin-top .125rem
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top 0
  > li
    margin-bottom (font-m/4) 
    list-style disc
  &--no-markers
    > li
      list-style none
