mixin listCategories(list)
  ul.list-categories
    each item in list
      li.list-categories__item
        a(href='/').list-categories__name !{item.name}
        span.list-categories__count (!{item.count})
