.list-categories
  display flex
  flex-wrap wrap
  margin (-(basePadding/2)) (-(basePadding))
  &__item
    display flex
    padding (basePadding/2) basePadding
  &__name
    margin-right (basePadding)
