.header-service-menu
  display flex
  font-size font-s
  line-height line-s
  &__list
    display flex
    padding-right (basePadding*2)
    padding-left basePadding
    background-image linear-gradient(#e8dec0, #f5f1e3)
    border-radius 0 0 borderRadius borderRadius
  &__item
    padding (basePadding/3) (basePadding/2)

    a
      display inline-block
      padding-top ((line-m - font-s) / 5 * 2)
      padding-bottom ((line-m - font-s) / 5 * 3)
      padding-left 1.25rem
      line-height font-s
      background-repeat no-repeat
      background-position left center
      background-size font-s font-s
      transition none
    &--about
      a
        background-image svgImport('svg/headerServiceMenuAbout.svg')
    &--search
      a
        background-image svgImport('svg/headerServiceMenuSearch.svg')
    &--target
      a
        background-image svgImport('svg/headerServiceMenuTarget.svg')
    &--question
      a
        background-image svgImport('svg/headerServiceMenuSupport.svg')
