mixin forumMessageUser(user = {})
  .forum-message-user(class != attributes.class id != attributes.id)
    if user.name
      .forum-message-user__name: a(href='peoples-item.html') !{user.name}
    if user.status
      .forum-message-user__status !{user.status}
    if user.photo
      .forum-message-user__photo: img(src != user.photo alt != user.name title != user.name)
    if user.rating
      .forum-message-user__rating Рейтинг: 
        strong !{user.rating}
    if user.stats
      ul.forum-message-user__stats
        each stat in user.stats
          li.forum-message-user__stat
            | !{stat.name}: 
            if stat.name == 'Зарегистрирован' || stat.name == 'Сообщений'
              strong !{stat.value}
            else
              | !{stat.value}
