.table-offers
  &.table--oneline
    & ^[-1]__cell:nth-of-type(2n)
      background transparent
  &__cell
    &--seller
      width 16rem
  &__seller-image
    float left
    width 6rem
    margin-right basePadding
  &__price
    margin-bottom basePadding
