mixin listBlog(list, settings = {})
  -
    settings.showCategory = settings.showCategory != undefined ? settings.showCategory : true
  .list-blog
    each item in list
      - let descWidth = {xs:12}
      .list-blog__item
        .list-blog__header
          if settings.showCategory
            span.list-blog__category: a(href != item.linkCategory) !{item.category}
            span.list-blog__header-sep /
          .list-blog__title: a(href != item.link) !{item.name}
        +grid({paddingy: true, parLike: true, justify: 'center'})
          if item.image
            +grid__item({s:2,xs:6}): a(href != item.link): img.list-blog__image(src != item.image alt != item.name title != item.name)
            - descWidth = {s:10,xs:12}
          +grid__item(descWidth)
            p !{item.body}
            if item.more
              .list-blog__read-more: a(href != item.link) Читать дальше »
            +articleFooter({author: item.author, date: item.date, comments: item.comments}).list-blog__item-footer
            if item.tags
              +listTagsSmall(item.tags).list-blog__tags
