header.header
  .container.banner-position-1
    .content
      //- +banner({position: 1}): div(style='width: 100%; height: 100%; font-size: 2rem; background-color: #963316; color: #fff; display: flex; align-items: center; justify-content: center; text-align: center') Позиция 1 (100%×100 px)
      +banner({position: 1}): include ../banner-volosy24/banner-volosy24
  .container
    .content
      include header-top/header-top
  .container
    .content.header__navigation
      include header-mobile-switcher/header-mobile-switcher
      include header-navigation/header-navigation
      +headerNavigation(mainMenu).top-menu
      .header__navigation-user.hidden-hd.hidden-xl.hidden-l.hidden-m: include /blocks/header/header-service-login/header-service-login.pug
      
