.form-registration
  parMargin()
  &__field
    display flex
    margin-x -(basePadding)
    margin-bottom -(basePadding)
    @media screen and (max-width (point-s - 1))
      flex-wrap wrap
    & + &
    #pun_bbcode_bar + &
      margin-top 1rem
      padding-top 1rem
      border-top solid 1px #e6e6e6
    &--birthday
    &--date-select
    &--price
      align-items center
      & ^[-2]__input
        flex-direction row
        align-items center
        & input
          width 6rem
        .form-input
          margin-right .5rem
    &--date-select
      align-items flex-start
      & ^[-2]__input
        flex-wrap wrap
    &--file-delete
      & ^[-2]__input
        flex-direction row
        justify-content space-between
        .btn
          align-self center
          padding (basePadding/2) basePadding
          font-size font-s
          line-height font-s
    &--submit
      & ^[-2]__input
        flex-direction row
        flex-wrap wrap
        margin-x 0
        margin-y -(basePadding)
      & ^[-2]__submit
        margin basePadding
    ^[-1]__subheader + &
      margin-top .5625rem
    & + ^[-1]__subheader
      margin-top 2.25rem
    &--checklist
      & ^[-2]__input
        overflow-y scroll
        max-height calc(9.75rem + 2px)
        padding (basePadding/3*2) (basePadding/3*4)
        border 1px solid #ccc
    &--rent-elems
      margin 0
  &__input
    display flex
    flex-grow 1
    flex-direction column
    align-items stretch
    margin-x basePadding
    margin-bottom basePadding
    @media screen and (max-width (point-s - 1))
      width 100%
  &__label
    flex-shrink 0
    width 14rem
    margin-x basePadding
    margin-bottom basePadding
    text-align right
    &--wide
      width 100%
      max-width 24rem
    @media screen and (max-width (point-s - 1))
      text-align left
  &__warning
    margin-bottom .75rem
  &__clarification
    margin-top .75rem
    color #b0b0b0
  &__submit
    align-self flex-start
  &__login
    align-self center
    margin basePadding
  &__sub-label
    margin-bottom .25rem
    font-weight bold
    &:not(:first-child)
      margin-top .5rem
  &__file-detail
    display flex
    flex-direction column
  &__additional-info
    margin-top .75rem
