include /blocks/form-rent-elements/form-rent-elements

mixin formRegistration(form)
  form.form-registration&attributes(attributes)
    if form.blocks
      each block in form.blocks
        if block.name
          h2.form-registration__subheader !{block.name}
        +formRegistrationFields(block.fields)
    else if form.fields
      +formRegistrationFields(form.fields)
    .form-registration__field.form-registration__field--submit
      .form-registration__label
      .form-registration__input
        if Array.isArray(form.submit)
          each item in form.submit
            button(type='submit' name != item.name).form-registration__submit.btn !{item.button ? item.button : 'Отправить'}
        else
          button(type='submit' name != form.submit.name).form-registration__submit.btn !{form.submit.button ? form.submit.button : 'Отправить'}
        if form.submit.clarification
          +createElement(form.submit.clarification)
mixin formRegistrationFields(fields)
  each item in fields
    if item.type != 'birthday' && item.type != 'price' && item.type != 'checklist' && item.type != 'rentElems' && item.type != 'dateSelect'
      .form-registration__field
        -
          const labelClass = [
            item.wideLabel ? 'form-registration__label--wide' : '',
          ]
        .form-registration__label(class != labelClass)
          if item.label
            if item.type != 'checks'
              label(for != item.id): +createElement(item.label)
            else
              +createElement(item.label)
        .form-registration__input
          if item.warning
            strong.form-registration__warning: +createElement(item.warning)
          if item.type != 'checks' && item.type != 'radios' && item.type != 'simpleText'
            +formInput({type: item.type, name: item.name, required: item.required, value: item.value, checked: item.checked, options: item.options, label: item.type == 'checkbox' && item.clarification ? item.clarification : undefined})(id != item.id)
          else if item.type == 'checks'
            each check in item.checks
              +formInput({type: check.type, name: check.name, label: check.label, required: check.required, checked: check.checked, value: check.value})(id != check.id)
          else if item.type == 'radios'
            each radio, i in item.radios
              if i == 0
                - radio.checked = true
              +formInput({type: radio.type, name: radio.name, label: radio.label, required: radio.required, checked: radio.checked, value: radio.value})(id != radio.id)
          else if item.type == 'simpleText'
            +createElement(item.value)
          if item.clarification && item.type !== 'checkbox'
            .form-registration__clarification !{item.clarification}
          if item.additionalInfo
            .form-registration__additional-info: +createElement(item.additionalInfo)
    if item.type == 'birthday'
      .form-registration__field.form-registration__field--birthday
        .form-registration__label Дата рождения:
          if item.required
            |  
            +footnoteMark
        .form-registration__input
          +formInput({type: 'select', name: 'day', options: ['--', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',]})
          +formInput({type: 'select', name: 'month', options: ['--', 'января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря',]})
          +formInput({type: 'text', name: 'year', maxlength: '4'})
    if item.type == 'dateSelect'
      .form-registration__field.form-registration__field--date-select
        .form-registration__label: +createElement(item.label)
          if item.required
            |  
            +footnoteMark
        .form-registration__input
          +formInput({type: 'select', name: 'day', options: ['--', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',]})
          +formInput({type: 'select', name: 'month', options: ['--', 'января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря',]})
          +formInput({type: 'select', name: 'month', options: ['2020', '2021',]})
          if item.clarification && item.type !== 'checkbox'
            .form-registration__clarification !{item.clarification}
    if item.type == 'price'
      .form-registration__field.form-registration__field--price
        .form-registration__label(class != labelClass)
          if item.label
            label(for != item.id): +createElement(item.label)
        .form-registration__input
          +formInput({type: 'text', name: item.name, required: item.required, value: item.value, checked: item.checked, options: item.options, label: item.type == 'checkbox' && item.clarification ? item.clarification : undefined})(id != item.id)
          | руб.
    if item.type == 'checklist'
      .form-registration__field.form-registration__field--checklist
        .form-registration__label(class != labelClass)
          if item.label
            label(for != item.id): +createElement(item.label)
        .form-registration__input
          .form-registration__checklist
            each block in item.blocks
              .form-registration__sub-label !{block.name}
              each check in block.checks
                +formInput(check)
    if item.type == 'fileDelete'
      .form-registration__field.form-registration__field--file-delete
        .form-registration__label(class != labelClass)
          if item.label
            label(for != item.id): +createElement(item.label)
        .form-registration__input
          .form-registration__file-detail
            a(href='http://www.dev.hairlife.ru/forum/misc.php?item=1224&download=1&secure_str=60177t11978')
              img(src='http://hairlife.ru/forum/extensions/pun_attachment/img/unknown.png', width='15', height='15', alt='Attachment icon')
              |  LibChatMessage_1_1_1.zip
            |                                                 6.15 Кб, данный файл еще не был никем загружен.                                                     
          input(type='submit', name='delete_1224', value='Удалить').btn
    if item.type == 'rentElems'
      .form-registration__field.form-registration__field--rent-elems
        +formRentRows
