-
  const supportForm = {
    inputs: [
      {name:'name', id:'name', label:'Имя:'},
      {type:'email', name:'from_mail', id:'from_mail', label:'E-mail:'},
      {
        type:'select', name:'subject', id:'subject', label:'Тема сообщения:', options: [
          'Размещение информации на портале',
          'Реклама на портале',
          'Сотрудничество с порталом',
          'Ошибки на портале',
        ]
      },
      {type:'textarea', name:'message', id:'message', label:'Сообщение:'},
      {type:'captcha', name:'captcha_code', id:'code', label:'Введите текст, который Вы видете на картинке:'},
    ],
    submit:'Отправить',
  }
+form(supportForm).form-support
