-
  const tableAdvRassilka = {
    header: ['Название рассылки', 'публикация в одном выпуске', 'публикация в трех выпусках'],
    rows: [
      [
        [
          'Новости индустрии красоты',
          '<br>',
          {tag: 'small', content: 'около 40 000 подписчиков'}
        ],
        '14 500 руб.',
        '22 500 руб.'
      ],
      [
        [
          'Управление салоном красоты',
          '<br>',
          {tag: 'small', content: 'около 1000 подписчиков'}
        ],
        '2 500 руб.',
        '5 250 руб.'
      ],
      [
        [
          'Профессия - парикмахер',
          '<br>',
          {tag: 'small', content: 'около 16 500 подписчиков'}
        ],
        '8 250 руб.',
        '17 325 руб.'
      ],
      [
        [
          'Профессия - визажист',
          '<br>',
          {tag: 'small', content: 'около 15 000 подписчиков'}
        ],
        '5 750 руб.',
        '12 075 руб.'
      ],
      [
        [
          'Профессия - стилист, имиджмейкер',
          '<br>',
          {tag: 'small', content: 'около 600 подписчиков'}
        ],
        '250 руб.',
        '525 руб.'
      ],
      [
        [
          'Профессия - nail мастер',
          '<br>',
          {tag: 'small', content: 'около 13 000 подписчиков'}
        ],
        '4 500 руб.',
        '9 450 руб.'
      ],
      [
        [
          'Профессия - косметолог',
          '<br>',
          {tag: 'small', content: 'около 14 000 подписчиков'}
        ],
        '4 750 руб.',
        '9 975 руб.'
      ],
    ]
  }
