-
  const asideMenuAbout = {
    header: 'О проекте',
    list: [
      {name: 'О проекте', href: staticLinks.about,
        sublist: [
          {name: 'Правила использования', href: staticLinks.aboutTerms},
        ]
      },
      {name: 'Регистрация', href: staticLinks.registration},
      {name: 'Вопросы и ответы', href: staticLinks.aboutFaq},
      {name: 'Сотрудничество', href: staticLinks.cooperation},
      {name: 'Реклама на портале', href: ''},
      {name: 'Новости портала', href: staticLinks.aboutNews},
      {name: 'Наши баннеры и ссылки', href: staticLinks.aboutBanners},
      {name: 'Контакты', href: staticLinks.contacts},
    ]
  }
  const sublistAds = [
      {name: 'Статистика портала', href: ''},
      {name: 'Баннерная реклама', href: ''},
      {name: 'Приоритетная публикация в каталоге компаний', href: ''},
      {name: 'Реклама в рассылке', href: ''},
      {name: 'Реклама на форуме', href: ''},
      {name: 'Приоритетное размещение рекламных статей', href: ''},
      {name: 'Приоритетное размещение рекламных новостей', href: ''},
      {name: 'Проведение совместных конкурсов', href: ''},
      {name: 'Заявка на размещение рекламы', href: ''},
  ]
