-
  const companyInfo = {
    basic: [
        {name:'Город',value:'Санкт-Петербург'},
        {name:'Адрес',value:'наб. Обводного канала, д. 108, 1-й этаж жилого дома, вход со стороны набережной <span class="inline-icon inline-icon--spb-metro-2">Фрунзенская</span>'},
        {name:'Телефон',value:'+7 (812) 425-67-68, +7 (961) 809-41-88'},
        {name:'Сайт',value:'http://www.volosy24.ru',link:'http://www.volosy24.ru'},
        {name:'График работы',value:'Ежедневно с 10.00 до 21.00, без обеда и выходных'},
        {name:'Рейтинг',value:360,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
    ],
    description: [
      {tag:'p',content:'Компания «Волосы24» предоставляет волосы высокого качества собственного производства. Ведь качество волос зависит не столько от их происхождения, сколько от их обработки. Наши мастера прошли обучение за границей, и получили мировой опыт обработки натуральных человеческих волос. Поэтому мы можем гарантировать их отличное качество. '},
      {tag:'p',content:'Мы предлагаем Вам исключительно натуральные волосы, которые можно приобрести как оптом, так и в розницу. Вне зависимости от вида продаж, натуральные волосы соответствуют всем требованиям качества и проходят обязательную проверку. '},
      {tag:'p',content:'Волосы проходят все необходимые этапы обработки: механическую, окраску, вычесывание, сушку. Все этапы производятся в соответствии с принятыми международными стандартами и правилами. '},
      {tag:'p',content:'Кроме волос для наращивания, компания «Волосы24» предлагает все необходимые для этой процедуры инструменты и материалы. '},
      {tag:'p',content:'Мы стараемся предоставить нашим клиентам максимально выгодные условия сотрудничества и высокое качество обслуживания, учитывая особенности бизнеса каждого нашего клиента.'},
    ],
    staff: [
      {
        name:'Ворожбиева Наталья',
        link:'peoples-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_92_1312569529.jpg',
        features: [
          {name:'Город',value:'Санкт-Петербург'},
          {name:'Должность',value:'Специалист по постижерным изделиям'},
          {name:'Рейтинг',value:65,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
        ],
        more: true,
      },
      {
        name:'Ольга Лейтес',
        link:'peoples-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_983_1297605502.jpg',
        features: [
          {name:'Город',value:'Санкт-Петербург'},
          {name:'Рейтинг',value:58,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
        ],
        more: true,
      },
      {
        name:'Зинаида шихова',
        link:'peoples-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_78_1360231541.jpg',
        features: [
          {name:'Город',value:'Санкт-Петербург'},
          {name:'Рейтинг',value:10,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
        ],
        more: true,
      },
    ],
    products: [
      {name: 'Изделия из волос', list:['Парики','Накладки','Шиньоны','Хвосты','Системы волос','Косы',]},
      {name: 'Волосы', list:['Славянские волосы']},
    ],
    merchandise: ['Волосы на кератиновой капсуле','Волосы в срезе','Волосы в срезе','Щипцы для формирования капсул','Щипцы для снятия нарощенных волос','Аппарат для горячего наращивания','Расческа для нарощенных волос','Защитный диск','Карда','Палитра волос','Кератин','Жидкость для снятия кератиновой капсулы','Разделитель прядей (защитный диск)','Клипсы'],
    news: [
      {name: 'Приглашаем мастеров на бесплатный семинар. Узнайте все о волосах для наращивания!', date: '24.01.2013'},
      {name: 'Карды для наращивания волос', date: '15.12.2011'},
      {name: 'Крючки для постижеров', date: '15.12.2011'},
      {name: 'Семинары по обучению постижерному делу', date: '07.12.2011'},
      {name: 'Набор группы на обучение постижерному делу на 22 и 23 ноября 2011 г.', date: '16.11.2011'},
      {name: 'Набор группы на обучение наращиванию волос на 17.11.11!', date: '07.11.2011'},
    ],
    discounts: [
      {name: 'Скидка 30% на материалы и инструменты для наращивания волос', date: '01.10.2012 - 15.10.2012'},
      {name: 'Скидки на материалы и инструменты для наращивания волос! Самые низкие цены!', date: '26.09.2011 - 31.10.2011'},
      {name: 'Скидка на славянские волосы 25%**', date: '15.11.2010 - 31.12.2010'},
      {name: 'Обучение наращиванию волос всего за 1 000 руб., только в сентрябре!', date: '01.09.2010 - 30.09.2010'},
    ],
    vacancies: [
      'Менеджер по продажам - <strong>Оклад+% с продаж (опт и розница)</strong>',
      'Менеджер по продажам - <strong>30000</strong>',
      'Менеджер по продажам - <strong>от 9000 до 45000</strong>',
    ]
  }
