-
  const companiesList = [
    {
      name:'Лайма-Люкс Рус',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Москва'},
        {name:'Рейтинг',value:394,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Компания "ЛАЙМА ЛЮКС РУС", была основана 4 апреля 2000 года. Является эксклюзивным дистрибьютором GOLDWELL, KMS California, OLYMP в России. Учредители компании - звезда ро...',
      more: true,
    },
    {
      name:'Волосы 24',
      link:'companies-item.html',
      image:'http://www.hairlife.ru/uploaded_files/companies/logos/big_813_1360230987.jpg',
      features: [
        {name:'Город',value:'Санкт-Петербург'},
        {name:'Адрес',value:'наб. Обводного канала, д. 108, 1-й этаж жилого дома, вход со стороны набережной <span class="inline-icon inline-icon--spb-metro-2">Фрунзенская</span>'},
        {name:'Телефон',value:'+7 (812) 425-67-68, +7 (961) 809-41-88'},
        {name:'Сайт',value:'http://www.volosy24.ru',link:'http://www.volosy24.ru'},
        {name:'Рейтинг',value:360,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Компания «Волосы24» предоставляет волосы высокого качества собственного производства. Ведь качество волос зависит не столько от их происхождения, сколько от их обработки. Наши мастера пр...',
      more: true,
    },
    {
      name:'Мастерская волос ПАТИХАЕР',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Москва'},
        {name:'Рейтинг',value:292,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Молодая, энергичная и творческая компания производит и продает простые и эксклюзивные материалы и украшения для создания причесок.Специальное направление МАСТЕРСКОЙ ВОЛОС-стиль коси...',
      more: true,
    },
    {
      name:'Academy Fashion Kings',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Санкт-Петербург'},
        {name:'Рейтинг',value:267,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Фундаментальное образование в сфере красоты. Academy Fashion Kings....',
      more: true,
    },
    {
      name:'Inoar Professional',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Санкт-Петербург'},
        {name:'Рейтинг',value:256,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Inoar Professional - всемирно известный бразильский бренд, занимающийся производством профессиональной косметики для волос. Компания создает, ...',
      more: true,
    },
    {
      name:'ОлеХаус',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Москва'},
        {name:'Рейтинг',value:208,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'ОлеХаус — крупнейший в России ногтевой центр, имеющий 26 филиалов в разных городах страны. Компания является представителем американской Корпорации CND (Creative Nail Design), ведущ...',
      more: true,
    },
    {
      name:'Золингер',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Москва'},
        {name:'Рейтинг',value:200,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Компания «Золингер» - ведущий российский импортёр профессионального парикмахерского инструмента, аксессуаров и оборудования для оснащения салонов красоты с 1995 года. На территории Р... ',
      more: true,
    },
    {
      name:'Международная Школа Ногтевых Экспертов',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Москва'},
        {name:'Рейтинг',value:195,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Цель - популяризация конкурсного движения, передача ценных знаний, накопленных за более чем 10-летнюю историю развития традиций ногтевых чемпионатов в России. Задачи: ...',
      more: true,
    },
    {
      name:'Аравия',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Москва'},
        {name:'Рейтинг',value:186,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Компания «Аравия» - ведущий российский производитель профессиональной косметики для салонов красоты и домашнего ухода. Бренды: ARAVIA Professional – комплексная система профессионального... ',
      more: true,
    },
    {
      name:'Салон красоты "Бэль"',
      link:'companies-item.html',
      features: [
        {name:'Город',value:'Санкт-Петербург'},
        {name:'Рейтинг',value:157,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      description:'Салон красоты Бэль предлагает парикмахерские и косметологические услуги в Санкт-Петербурге. Наши услуги: различные стрижки, наращивание волос, маникюр, наращивание ногтей, а также ...',
      more: true,
    },
  ]
