-
  const listRentPlace = [
    {
      name: 'Рабочее место парикмахера',
      link:'notices-rent-places-item.html',
      price: '1000 в день',
      city: 'Новосибирск',
      address: 'пр.Карла Маркса 3',
      date: '16.07.2019',
    },
    {
      name: 'Кабинет косметолога',
      link:'notices-rent-places-item.html',
      price: '1000 в день',
      city: 'Москва',
      address: 'ул. Удальцова д.71 к.1',
      date: '08.07.2019',
    },
    {
      name: 'Рабочее место мастера маникюра/педикюра',
      link:'notices-rent-places-item.html',
      price: '1000 в день',
      city: 'Москва',
      address: 'ул. Удальцова д.71 к.1',
      date: '08.07.2019',
    },
    {
      name: 'Рабочее место парикмахера',
      link:'notices-rent-places-item.html',
      price: '1000 в день',
      city: 'Москва',
      address: 'ул. Удальцова д.71 к.1',
      date: '08.07.2019',
    },
    {
      name: 'Рабочее место парикмахера',
      link:'notices-rent-places-item.html',
      price: '1500 в день и 15000 в месяц',
      city: 'Москва',
      address: 'ул .Александра Солженицына д.27',
      date: '08.07.2019',
    },
    {
      name: 'Рабочее место мастера маникюра/педикюра',
      link:'notices-rent-places-item.html',
      price: '1000 в день и 15000 в месяц',
      city: 'Москва',
      address: 'ул.Александра Солженицына д.27',
      date: '08.07.2019',
    },
    {
      name: 'Рабочее место парикмахера',
      link:'notices-rent-places-item.html',
      price: '150 в день',
      city: 'Санкт-Петербург',
      address: '1-я Красноармейская д.15',
      date: '06.07.2019',
    },
    {
      name: 'Рабочее место косметолога',
      link:'notices-rent-places-item.html',
      price: '150 в день',
      city: 'Санкт-Петербург',
      address: '1-я Красноармейская д.15',
      date: '06.07.2019',
    },
    {
      name: 'Рабочее место косметолога',
      link:'notices-rent-places-item.html',
      price: '150 в день',
      city: 'Санкт-Петербург',
      address: 'Лиговский пр-т д.50 к.2',
      date: '06.07.2019',
    },
    {
      name: 'Рабочее место парикмахера',
      link:'notices-rent-places-item.html',
      price: '150 в день',
      city: 'Санкт-Петербург',
      address: 'Лиговский пр-т д.50 к.2',
      date: '06.07.2019',
    },
  ]
  const listRentSalon = [
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '5000 в день и 120000 в месяц',
      city: 'Москва',
      address: 'Москва Ленинский Проспект 37А',
      date: '24.06.2019',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '5000 в день и 120000 в месяц',
      city: 'Москва',
      address: 'Ленинский проспект 37А',
      date: '24.06.2019',
    },
    {
      name: 'Косметологический салон',
      link:'notices-rent-salons-item.html',
      price: 'цена договорная',
      city: 'Краснодар',
      address: 'северная',
      date: '15.06.2019',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '40000 в месяц',
      city: 'Москва',
      address: 'мкр. 1 Мая 4к1',
      date: '17.05.2019',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '75000 в месяц',
      city: 'Санкт-Петербург',
      address: 'Кораблестроителей 16 корп. 3',
      date: '29.03.2019',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '135000 в месяц',
      city: 'Москва',
      address: 'Лесная 8/12',
      date: '10.12.2018',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '1500 в день',
      city: 'Москва',
      address: 'Ленинский проспект дом 127',
      date: '31.10.2018',
    },
    {
      name: 'Маникюрная студия',
      link:'notices-rent-salons-item.html',
      price: '3000 в день и 75000 в месяц',
      city: 'Москва',
      address: 'пр Вернадского 125',
      date: '07.05.2018',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '35000 в месяц',
      city: 'Нижний Новгород',
      address: 'Варварская,40Б',
      date: '21.02.2018',
    },
    {
      name: 'Салон красоты',
      link:'notices-rent-salons-item.html',
      price: '35000 в месяц',
      city: 'Нижний Новгород',
      address: 'Н.Новгород,Варварская,40Б',
      date: '18.02.2018',
    },
  ]
  const listSalePlace = [
    {
      name: 'Салон красоты',
      link:'notices-sale-salons-item.html',
      price: '8000000',
      city: 'Москва',
      address: 'Рубцовская набережная д2к2',
      date: '01.07.2019',
    },
    {
      name: 'Салон красоты',
      link:'notices-sale-salons-item.html',
      price: '16500000',
      city: 'Москва',
      address: 'Ленинский проспект 37А',
      date: '24.06.2019',
    },
    {
      name: 'Парикмахерская',
      link:'notices-sale-salons-item.html',
      price: '250000',
      city: 'Барнаул',
      address: 'Машиностроителей 19-400',
      date: '31.10.2018',
    },
    {
      name: 'Парикмахерская',
      link:'notices-sale-salons-item.html',
      price: '250000',
      city: 'Нижний Новгород',
      address: 'Машиностроителей 19-400',
      date: '31.10.2018',
    },
    {
      name: 'Салон красоты',
      link:'notices-sale-salons-item.html',
      price: '18000000',
      city: 'Тверь',
      address: '',
      date: '26.05.2018',
    },
    {
      name: 'Салон красоты',
      link:'notices-sale-salons-item.html',
      price: '2000000',
      city: 'Москва',
      address: '1-й тверской-ямской переулок',
      date: '10.05.2018',
    },
    {
      name: 'Парикмахерская',
      link:'notices-sale-salons-item.html',
      price: '100',
      city: 'Москва',
      address: 'Licogi 13, thanh xuan,ha noi',
      date: '14.04.2018',
    },
    {
      name: 'Салон красоты',
      link:'notices-sale-salons-item.html',
      price: '30000',
      city: 'Москва',
      address: 'Орлово Давыдовский переулок 2/5 сто 3',
      date: '12.03.2018',
    },
    {
      name: 'Парикмахерская',
      link:'notices-sale-salons-item.html',
      price: 'договорная',
      city: 'Симферополь',
      address: 'ул. Кечкеметская.99',
      date: '28.01.2018',
    },
    {
      name: 'Парикмахерская',
      link:'notices-sale-salons-item.html',
      price: '',
      city: 'Москва',
      address: '',
      date: '28.01.2018',
    },
  ]
	
