-
  const formRecovery = {
    fields: [
      {
        type: 'email',
        id: 'login',
        name: 'login',
        label: 'Логин (E-mail)', 
        required: true,
      },
    ],
    submit: {
      button: 'Выслать пароль',
    }
  } 
