-
  const trade = {
    best: [
      {name: 'Кератин черный 1 кг', link: 'trade-item.html', image: 'http://www.hairlife.ru/uploaded_files/users/2010/735/products/big_473_1349173438.jpg'},
      {name: 'Несмываемый кондиционер для домашнего ухода', link: 'trade-item.html', image: 'http://www.hairlife.ru/uploaded_files/users/2012/18017/products/big_443_1394795582.jpg'},
      {name: 'Аппарат для горячего наращивания волос', link: 'trade-item.html', image: 'http://www.hairlife.ru/uploaded_files/users/2010/735/products/big_138_1338492392.jpg'},
      {name: 'Клипсы (минизажимы) для изделий из волос', link: 'trade-item.html', image: 'http://www.hairlife.ru/uploaded_files/users/2010/735/products/big_559_1349170393.jpg'},
      {name: 'Аппарат для горячего наращивания розовый', link: 'trade-item.html', image: 'http://www.hairlife.ru/uploaded_files/users/2010/735/products/big_610_1376383346.jpg'},
      {name: 'Жидкость для снятия нарощенных волос (ремувер)', link: 'trade-item.html', image: 'http://www.hairlife.ru/uploaded_files/users/2010/735/products/big_707_1349172461.jpg'},
    ],
    
    categories: [
      {
        title: {name: 'Оборудование для салонов', link: 'trade-category.html'},
        list: [
          {name: 'Парикмахерское оборудование', link: 'trade-category.html', products: 775, offers: 37},
          {name: 'Маникюрное и педикюрное оборудование', link: 'trade-category.html', products: 60, offers: 29},
          {name: 'Косметологическое оборудование', link: 'trade-category.html', products: 149, offers: 91},
          {name: 'SPA и массажное оборудование', link: 'trade-category.html', products: 11, offers: 9},
          {name: 'Оборудование для загара', link: 'trade-category.html', products: 13, offers: 11},
          {name: 'Мебель для салона', link: 'trade-category.html', products: 7, offers: 4},
        ],
        offers: [
          {name: 'Лампа-лупа 9005', link: 'trade-item.html', price: '3600'},
          {name: 'Бестеневой светильник 9501LED-3', link: 'trade-item.html', price: '6900'},
          {name: 'Аппарат Wirtex для коррекции фигуры', link: 'trade-item.html', price: '199000'},
          {name: 'Миостимулятор b-333', link: 'trade-item.html', price: '12000'},
          {name: 'COMFORT', link: 'trade-item.html', price: '4200'},
        ],
      },
      {
        title: {name: 'Парикмахерские инструменты и аксессуары', link: 'trade-category.html'},
        list: [
          {name: 'Инструменты', link: 'trade-category.html', products: 27, offers: 20},
          {name: 'Электротовары', link: 'trade-category.html', products: 20, offers: 12},
          {name: 'Аксессуары', link: 'trade-category.html', products: 6, offers: 5},
          {name: 'Принадлежности для окрашивания', link: 'trade-category.html', products: 0, offers: 0},
          {name: 'Инструменты для наращивания волос', link: 'trade-category.html', products: 18, offers: 16},
          {name: 'Материалы для наращивания волос', link: 'trade-category.html', products: 26, offers: 24},
        ],
      },
      {
        title: {name: 'Волосы и изделия из волос', link: 'trade-category.html'},
        list: [
          {name: 'Изделия из натуральных волос', link: 'trade-category.html', products: 18, offers: 11},
          {name: 'Изделия из искусственных волос', link: 'trade-category.html', products: 7, offers: 4},
          {name: 'Натуральные волосы славянского типа', link: 'trade-category.html', products: 57, offers: 50},
          {name: 'Натуральные волосы южно-русского типа', link: 'trade-category.html', products: 11, offers: 8},
          {name: 'Натуральные волосы европейского типа', link: 'trade-category.html', products: 15, offers: 15},
          {name: 'Искусственные волосы и изделия из них', link: 'trade-category.html', products: 10, offers: 10},
        ],
        offers: [
          {name: 'Брошка "Парикмахер"', link: 'trade-item.html', price: 150},
          {name: 'UzbekHair', link: 'trade-item.html', price: 50000},
          {name: 'Масляный кофейный скраб "Ваниль"', link: 'trade-item.html', price: 1020},
          {name: 'Лак для волос 750 мл.', link: 'trade-item.html', price: 1000},
          {name: 'Салфетка 5х5 см безворсовая спанлейс', link: 'trade-item.html', price: 8.40},
        ],
      },
      {
        title: {name: 'Косметическая и лечебная продукция', link: 'trade-category.html'},
        list: [
          {name: 'Средства для лечение заболеваний волос и кожи головы', link: 'trade-category.html', products: 65, offers: 46},
          {name: 'Средства для ухода за волосами', link: 'trade-category.html', products: 144, offers: 106},
          {name: 'Средства для укладки волос', link: 'trade-category.html', products: 10, offers: 9},
          {name: 'Средства для окрашивания волос', link: 'trade-category.html', products: 7, offers: 5},
          {name: 'Косметика для SPA-процедур', link: 'trade-category.html', products: 18, offers: 15},
          {name: 'Материалы для восковой эпиляции', link: 'trade-category.html', products: 68, offers: 62},
          {name: 'Материалы для шугаринга', link: 'trade-category.html', products: 11, offers: 9},
          {name: 'Материалы для боди-дизайна', link: 'trade-category.html', products: 4, offers: 4},
        ],
      },
      {
        title: {name: 'Расходные материалы и одежда', link: 'trade-category.html'},
        list: [
          {name: 'Рабочая одежда многоразовая', link: 'trade-category.html', products: 14, offers: 9},
          {name: 'Рабочая одежда одноразовая', link: 'trade-category.html', products: 6, offers: 4},
          {name: 'Расходные материалы', link: 'trade-category.html', products: 25, offers: 18},
        ],
      },
    ]
  }
